$amagon-primary-color: #001f3f;
$amagon-secondery-color: #ffff00;

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*@media screen and (min-width: 1600px) {
  .online-shop-single-article {
    &__header-frame {
      background-color: $amagon-primary-color;
      height: 3rem;
    }

    &__back-menu-button {
      @include center-content();
      font-size: 1.3rem;
      width: 13rem;
      height: 3rem;
      margin: 5rem 0 5rem 10%;

      &--icon {
        width: 1.7rem;
      }
    }

    &__preview {
      max-width: 70rem;
      margin: 3rem auto 5rem auto;
      @include center-content();
      padding-left: 3rem;
      box-sizing: border-box;

      &--left-section {
        width: 50%;
        height: 100%;
        margin: 0 auto;

        &--article-headline {
          margin: 1.5rem;
          font-size: 2.1rem;
        }

        &--article-img {
          width: 100%;
          height: 25rem;
          object-fit: cover;
        }

        &--article-description {
          margin: 1.7rem 0;
          font-size: 1.6rem;
          padding: 0 0.5%;
        }
      }

      &--right-section {
        height: 100%;
        width: 50%;
        margin-top: 3rem;
        padding: 0 1%;

        &--article-quantity-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          row-gap: 3rem;

          &--quantity-headline {
            font-size: 2rem;
            margin: 1rem 0 -1rem 0;
            padding: 0;
          }

          &--article-count-and-quantity {
            @include center-content();
            gap: 1rem;
            width: 100%;
            padding: 0.5rem 0 0 0;
          }
        }

        &--price-and-itemStock-div {
          margin: 3rem 0 0 0;
          padding: 1% 0 1% 0;

          &--article-price {
            font-size: 1.8rem;
          }

          &--article-itemStock-total {
            font-size: 1.7rem;
            height: 3rem;
            @include center-content();
          }
        }

        &--add-shopping-cart-button {
          font-size: 1.6rem;
          margin: 2rem auto 3rem auto;
          width: 18rem;
          height: 2.7rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .online-shop-single-article {
    &__header-frame {
      background-color: $amagon-primary-color;
      height: 3rem;
    }

    &__back-menu-button {
      @include center-content();
      font-size: 1.3rem;
      width: 13rem;
      height: 3rem;
      margin: 5rem 0 5rem 10%;

      &--icon {
        width: 1.7rem;
      }
    }

    &__preview {
      max-width: 70rem;
      margin: 2rem auto;
      @include center-content();
      padding-left: 3rem;
      box-sizing: border-box;

      &--left-section {
        width: 50%;
        height: 100%;
        margin: 0 auto;

        &--article-headline {
          margin: 1.5rem;
          font-size: 2.1rem;
        }

        &--article-img {
          width: 100%;
          height: 25rem;
          object-fit: cover;
        }

        &--article-description {
          margin: 1.7rem 0;
          font-size: 1.6rem;
          padding: 0 0.5%;
        }
      }

      &--right-section {
        height: 100%;
        width: 50%;
        margin-top: 3rem;
        padding: 0 1%;

        &--article-quantity-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          row-gap: 3rem;

          &--quantity-headline {
            font-size: 2rem;
            margin: 1rem 0 -1rem 0;
            padding: 0;
          }

          &--article-count-and-quantity {
            @include center-content();
            gap: 1rem;
            width: 100%;
            padding: 0.5rem 0 0 0;
          }
        }

        &--price-and-itemStock-div {
          margin: 3rem 0 0 0;
          padding: 1% 0 1% 0;

          &--article-price {
            font-size: 1.8rem;
          }

          &--article-itemStock-total {
            font-size: 1.7rem;
            height: 3rem;
            @include center-content();
          }
        }

        &--add-shopping-cart-button {
          font-size: 1.6rem;
          margin: 2rem auto 3rem auto;
          width: 18rem;
          height: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .online-shop-single-article {
    &__header-frame {
      background-color: $amagon-primary-color;
      height: 3rem;
    }

    &__back-menu-button {
      @include center-content();
      font-size: 1.3rem;
      width: 13rem;
      height: 3rem;
      margin: 5rem 0 5rem 7%;

      &--icon {
        width: 1.7rem;
      }
    }

    &__preview {
      max-width: 60rem;
      margin: 2rem auto;
      @include center-content();
      padding-left: 3rem;
      box-sizing: border-box;

      &--left-section {
        width: 50%;
        height: 100%;
        margin: 0 auto;

        &--article-headline {
          margin: 1.5rem;
          font-size: 2.1rem;
        }

        &--article-img {
          width: 100%;
          height: 23rem;
          object-fit: cover;
        }

        &--article-description {
          margin: 1.7rem 0;
          font-size: 1.6rem;
          padding: 0 0.5%;
        }
      }

      &--right-section {
        height: 100%;
        width: 50%;
        margin-top: 2rem;
        padding: 0 1%;

        &--article-quantity-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          row-gap: 3rem;

          &--quantity-headline {
            font-size: 2rem;
            margin: 1rem 0 -1rem 0;
            padding: 0;
          }

          &--article-count-and-quantity {
            @include center-content();
            gap: 1rem;
            width: 100%;
            padding: 0.5rem 0 0 0;
          }
        }

        &--price-and-itemStock-div {
          margin: 2rem 0 0 0;
          padding: 1% 0 1% 0;

          &--article-price {
            font-size: 1.8rem;
          }

          &--article-itemStock-total {
            font-size: 1.7rem;
            height: 3rem;
            @include center-content();
          }
        }

        &--add-shopping-cart-button {
          font-size: 1.5rem;
          margin: 2rem auto 3rem auto;
          width: 17rem;
          height: 2.7rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .online-shop-single-article {
    &__header-frame {
      background-color: $amagon-primary-color;
      height: 3rem;
    }

    &__back-menu-button {
      @include center-content();
      font-size: 1.3rem;
      width: 13rem;
      height: 3rem;
      margin: 4rem auto;

      &--icon {
        width: 1.7rem;
      }
    }

    &__preview {
      max-width: 30rem;
      margin: 2rem auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 1%;

      &--left-section {
        width: 100%;
        height: 50%;

        &--article-headline {
          margin: 1rem;
          font-size: 2rem;
        }

        &--article-img {
          width: 90%;
          height: 20rem;
          object-fit: cover;
        }

        &--article-description {
          margin: 1.5rem auto;
          font-size: 1.5rem;
          padding: 0;
          width: 25rem;
        }
      }

      &--right-section {
        height: 100%;
        width: 100%;
        margin-top: 0;
        padding: 0 1%;

        &--article-quantity-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          row-gap: 2rem;

          &--quantity-headline {
            font-size: 1.7rem;
            margin: 1rem 0 -1rem 0;
            padding: 0;
          }

          &--article-count-and-quantity {
            @include center-content();
            gap: 1rem;
            width: 100%;
            padding: 0.5rem 0 0 0;
          }
        }

        &--price-and-itemStock-div {
          margin: 1rem 0 0 0;
          padding: 1% 0 1% 0;

          &--article-price {
            font-size: 1.6rem;
          }

          &--article-itemStock-total {
            font-size: 1.6rem;
            height: 3rem;
            @include center-content();
          }
        }

        &--add-shopping-cart-button {
          font-size: 1.4rem;
          margin: 1rem auto 3rem auto;
          width: 16rem;
          height: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .online-shop-single-article {
    &__header-frame {
      background-color: $amagon-primary-color;
      height: 2rem;
    }

    &__back-menu-button {
      @include center-content();
      font-size: 1.3rem;
      width: 13rem;
      height: 3rem;
      margin: 3rem auto;

      &--icon {
        width: 2rem;
      }
    }

    &__preview {
      max-width: 17rem;
      margin: 2rem auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 1%;

      &--left-section {
        width: 100%;
        height: 30rem;

        &--article-headline {
          margin: 1rem;
          font-size: 1.7rem;
        }

        &--article-img {
          width: 90%;
          height: 50%;
          object-fit: cover;
        }

        &--article-description {
          margin: 1.5rem auto;
          font-size: 1.3rem;
          padding: 0;
          width: 14rem;
        }
      }

      &--right-section {
        height: 100%;
        width: 100%;
        margin-top: -2rem;
        padding: 0 1%;

        &--article-quantity-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          row-gap: 2rem;

          &--quantity-headline {
            font-size: 1.5rem;
            margin: 1rem 0 -1rem 0;
            padding: 0;
          }

          &--article-count-and-quantity {
            @include center-content();
            gap: 1rem;
            width: 100%;
            padding: 0.5rem 0 0 0;
          }
        }

        &--price-and-itemStock-div {
          margin: 1rem 0 0 0;
          padding: 1% 0 1% 0;

          &--article-price {
            font-size: 1.4rem;
          }

          &--article-itemStock-total {
            font-size: 1.3rem;
            height: 3rem;
            @include center-content();
          }
        }

        &--add-shopping-cart-button {
          font-size: 1.2rem;
          margin: 0.5rem auto 2rem auto;
          width: 14rem;
          height: 2.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .online-shop-single-article {
    &__header-frame {
      background-color: $amagon-primary-color;
      height: 1.5rem;
    }

    &__back-menu-button {
      @include center-content();
      font-size: 0.8rem;
      width: 8rem;
      height: 2.5rem;
      margin: 3rem auto 0 auto;

      &--icon {
        width: 1.4rem;
      }
    }

    &__preview {
      margin: 3rem 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid gray;
      background-color: white;
      border-radius: 0.2rem;
      padding: 0 1%;

      &--left-section {
        width: 100%;
        height: 25rem;

        &--article-headline {
          margin: 1rem;
          font-size: 1.3rem;
        }

        &--article-img {
          width: 90%;
          height: 50%;
          object-fit: cover;
        }

        &--article-description {
          margin: 1.5rem auto;
          font-size: 1rem;
          padding: 0;
          width: 85%;
        }
      }

      &--right-section {
        height: 50%;
        width: 100%;
        margin-top: -3rem;
        padding: 0 1%;

        &--article-quantity-div {
          @include center-content();
          width: 100%;
          row-gap: 2rem;

          &--quantity-headline {
            font-size: 1.2rem;
            margin: 1rem 0 -1rem 0;
            padding: 0;
          }

          &--article-count-and-quantity {
            @include center-content();
            gap: 1rem;
            width: 100%;
            padding: 0.5rem 0 0 0;
          }
        }

        &--price-and-itemStock-div {
          margin: 1rem 0 0 0;
          padding: 1% 0 1% 0;

          &--article-price {
            font-size: 1.1rem;
            margin: 0;
            padding: 2% 0 3% 0;
          }

          &--article-itemStock-total {
            font-size: 1.1rem;
            height: 3rem;
            @include center-content();
            margin: 0 0 1% 0;
            padding: 0;
          }
        }

        &--add-shopping-cart-button {
          font-size: 1rem;
          margin: 0.1rem auto 1.5rem auto;
          width: 11rem;
          height: 2rem;
        }
      }
    }
  }
}*/
