$amagon-primary-color: #001f3f;
$amagon-secondery-color: #ffff00;

@media screen and (min-width: 1600px) {
  .online-shop-single-article {
    &__header-frame {
      background-color: $amagon-primary-color;
      height: 3rem;
    }

    &__link-div {
      margin-top: 2rem;
      display: flex;
      justify-content: space-evenly;

      &--back-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        padding: 0.3rem 0.7rem;
        margin-right: 15%;

        &--icon {
          width: 2.4rem;
        }
      }

      &--link-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0.5rem;
        margin: 0;

        &--shopping-cart-quantity {
          font-size: 1.9rem;
        }

        &--shopping-cart-icon {
          font-size: 1.8rem;
        }
      }
    }

    &__preview {
      max-width: 70rem;
      margin: 2rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 3rem;
      box-sizing: border-box;

      &--left-section {
        width: 50%;
        height: 100%;
        margin: 0 auto;

        &--article-headline {
          margin: 1.5rem;
          font-size: 2.1rem;
        }

        &--article-img {
          width: 100%;
          height: 25rem;
          object-fit: cover;
        }

        &--article-description {
          margin: 1.7rem 0;
          font-size: 1.6rem;
          padding: 0 0.5%;
        }
      }

      &--right-section {
        height: 100%;
        width: 50%;
        margin-top: 3rem;
        padding: 0 1%;

        &--article-quantity-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          row-gap: 3rem;

          &--quantity-headline {
            font-size: 2rem;
            margin: 1rem 0 -1rem 0;
            padding: 0;
          }

          &--article-count-and-quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: 0.5rem 0 0 0;

            .count-up {
              font-size: 2rem;
              padding: 0.1rem 0.7rem;
            }

            .quantity {
              padding: 0.2rem 0.4rem;
              font-size: 1.7rem;
            }

            .count-down {
              font-size: 2rem;
              padding: 0.1rem 0.9rem;
            }
          }
        }

        &--price-and-itemStock-div {
          margin: 3rem 0 0 0;
          padding: 1% 0 1% 0;

          &--article-price {
            font-size: 1.8rem;
          }

          &--article-itemStock-total {
            font-size: 1.7rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        &--add-shopping-cart-button {
          font-size: 1.6rem;
          margin: 2rem 0 3rem 0;
          padding: 0.1rem 0.5rem;
          background-color: #faed27;
          border: 1px solid black;
          border-radius: 0.2rem;
        }
      }
    }

    &__rooter-frame {
      background-color: $amagon-primary-color;
      height: 3rem;
      bottom: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1600px) {
  .online-shop-single-article {
    &__header-frame {
      background-color: $amagon-primary-color;
      height: 3rem;
    }

    &__link-div {
      margin-top: 2rem;
      display: flex;
      justify-content: space-evenly;

      &--back-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        padding: 0.3rem 0.7rem;
        margin-right: 15%;

        &--icon {
          width: 2.4rem;
        }
      }

      &--link-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0.5rem;
        margin: 0;

        &--shopping-cart-quantity {
          font-size: 1.9rem;
        }

        &--shopping-cart-icon {
          font-size: 1.8rem;
        }
      }
    }

    &__preview {
      max-width: 70rem;
      margin: 2rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 3rem;
      box-sizing: border-box;

      &--left-section {
        width: 50%;
        height: 100%;
        margin: 0 auto;

        &--article-headline {
          margin: 1.5rem;
          font-size: 2.1rem;
        }

        &--article-img {
          width: 100%;
          height: 25rem;
          object-fit: cover;
        }

        &--article-description {
          margin: 1.7rem 0;
          font-size: 1.6rem;
          padding: 0 0.5%;
        }
      }

      &--right-section {
        height: 100%;
        width: 50%;
        margin-top: 3rem;
        padding: 0 1%;

        &--article-quantity-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          row-gap: 3rem;

          &--quantity-headline {
            font-size: 2rem;
            margin: 1rem 0 -1rem 0;
            padding: 0;
          }

          &--article-count-and-quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: 0.5rem 0 0 0;

            .count-up {
              font-size: 2rem;
              padding: 0.1rem 0.7rem;
            }

            .quantity {
              padding: 0.2rem 0.4rem;
              font-size: 1.7rem;
            }

            .count-down {
              font-size: 2rem;
              padding: 0.1rem 0.9rem;
            }
          }
        }

        &--price-and-itemStock-div {
          margin: 3rem 0 0 0;
          padding: 1% 0 1% 0;

          &--article-price {
            font-size: 1.8rem;
          }

          &--article-itemStock-total {
            font-size: 1.7rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        &--add-shopping-cart-button {
          font-size: 1.6rem;
          margin: 2rem 0 3rem 0;
          padding: 0.1rem 0.5rem;
          background-color: #faed27;
          border: 1px solid black;
          border-radius: 0.2rem;
        }
      }
    }

    &__rooter-frame {
      background-color: $amagon-primary-color;
      height: 3rem;
      bottom: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1300px) {
  .online-shop-single-article {
    &__header-frame {
      background-color: $amagon-primary-color;
      height: 3rem;
    }

    &__link-div {
      margin-top: 3rem;
      display: flex;
      justify-content: space-evenly;

      &--back-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        padding: 0.3rem 0.5rem;
        margin-right: 15%;

        &--icon {
          width: 2rem;
        }
      }

      &--link-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.3rem 0.5rem;
        margin: 0;

        &--shopping-cart-quantity {
          font-size: 1.9rem;
        }

        &--shopping-cart-icon {
          font-size: 1.8rem;
        }
      }
    }

    &__preview {
      max-width: 60rem;
      margin: 2rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 3rem;
      box-sizing: border-box;

      &--left-section {
        width: 50%;
        height: 100%;
        margin: 0 auto;

        &--article-headline {
          margin: 1.5rem;
          font-size: 2.1rem;
        }

        &--article-img {
          width: 100%;
          height: 23rem;
          object-fit: cover;
        }

        &--article-description {
          margin: 1.7rem 0;
          font-size: 1.6rem;
          padding: 0 0.5%;
        }
      }

      &--right-section {
        height: 100%;
        width: 50%;
        margin-top: 2rem;
        padding: 0 1%;

        &--article-quantity-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          row-gap: 3rem;

          &--quantity-headline {
            font-size: 2rem;
            margin: 1rem 0 -1rem 0;
            padding: 0;
          }

          &--article-count-and-quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: 0.5rem 0 0 0;

            .count-up {
              font-size: 2rem;
              padding: 0.1rem 0.7rem;
            }

            .quantity {
              padding: 0.2rem 0.4rem;
              font-size: 1.7rem;
            }

            .count-down {
              font-size: 2rem;
              padding: 0.1rem 0.9rem;
            }
          }
        }

        &--price-and-itemStock-div {
          margin: 2rem 0 0 0;
          padding: 1% 0 1% 0;

          &--article-price {
            font-size: 1.8rem;
          }

          &--article-itemStock-total {
            font-size: 1.7rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        &--add-shopping-cart-button {
          font-size: 1.5rem;
          margin: 2rem 0 3rem 0;
          padding: 0.1rem 0.5rem;
          background-color: #faed27;
          border: 1px solid black;
          border-radius: 0.2rem;
        }
      }
    }

    &__rooter-frame {
      background-color: $amagon-primary-color;
      height: 3rem;
      bottom: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .online-shop-single-article {
    &__header-frame {
      background-color: $amagon-primary-color;
      height: 3rem;
    }

    &__link-div {
      margin-top: 2rem;
      display: flex;
      justify-content: center;

      &--back-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        padding: 0.3rem 0.5rem;
        margin-right: 15%;

        &--icon {
          width: 1.7rem;
        }
      }

      &--link-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.3rem 0.5rem;
        margin: 0;

        &--shopping-cart-quantity {
          font-size: 1.7rem;
        }

        &--shopping-cart-icon {
          font-size: 1.6rem;
        }
      }
    }

    &__preview {
      max-width: 30rem;
      margin: 2rem auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 1%;

      &--left-section {
        width: 100%;
        height: 50%;

        &--article-headline {
          margin: 1rem;
          font-size: 2rem;
        }

        &--article-img {
          width: 90%;
          height: 20rem;
          object-fit: cover;
        }

        &--article-description {
          margin: 1.5rem 0;
          font-size: 1.5rem;
          padding: 0 0.5%;
        }
      }

      &--right-section {
        height: 100%;
        width: 100%;
        margin-top: 0;
        padding: 0 1%;

        &--article-quantity-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          row-gap: 2rem;

          &--quantity-headline {
            font-size: 1.7rem;
            margin: 1rem 0 -1rem 0;
            padding: 0;
          }

          &--article-count-and-quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: 0.5rem 0 0 0;

            .count-up {
              font-size: 1.7rem;
              padding: 0.1rem 0.6rem;
            }

            .quantity {
              padding: 0.2rem 0.3rem;
              font-size: 1.5rem;
            }

            .count-down {
              font-size: 1.7rem;
              padding: 0.1rem 0.8rem;
            }
          }
        }

        &--price-and-itemStock-div {
          margin: 1rem 0 0 0;
          padding: 1% 0 1% 0;

          &--article-price {
            font-size: 1.6rem;
          }

          &--article-itemStock-total {
            font-size: 1.6rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        &--add-shopping-cart-button {
          font-size: 1.4rem;
          margin: 1rem 0 3rem 0;
          padding: 0.1rem 0.5rem;
          background-color: #faed27;
          border: 1px solid black;
          border-radius: 0.2rem;
        }
      }
    }

    &__rooter-frame {
      background-color: $amagon-primary-color;
      height: 3rem;
      position: relative;
      bottom: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .online-shop-single-article {
    &__header-frame {
      background-color: $amagon-primary-color;
      height: 2rem;
    }

    &__link-div {
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;

      &--back-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        padding: 0.3rem 0.5rem;
        margin-right: 15%;

        &--icon {
          width: 1.5rem;
        }
      }

      &--link-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.3rem 0.5rem;
        margin: 0;

        &--shopping-cart-quantity {
          font-size: 1.3rem;
        }

        &--shopping-cart-icon {
          font-size: 1.3rem;
        }
      }
    }

    &__preview {
      max-width: 17rem;
      margin: 2rem auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 1%;

      &--left-section {
        width: 100%;
        height: 30rem;

        &--article-headline {
          margin: 1rem;
          font-size: 1.7rem;
        }

        &--article-img {
          width: 90%;
          height: 50%;
          object-fit: cover;
        }

        &--article-description {
          margin: 1.5rem 0;
          font-size: 1.3rem;
          padding: 0 0.5%;
        }
      }

      &--right-section {
        height: 100%;
        width: 100%;
        margin-top: -5rem;
        padding: 0 1%;

        &--article-quantity-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          row-gap: 2rem;

          &--quantity-headline {
            font-size: 1.5rem;
            margin: 1rem 0 -1rem 0;
            padding: 0;
          }

          &--article-count-and-quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: 0.5rem 0 0 0;

            .count-up {
              font-size: 1.5rem;
              padding: 0.1rem 0.6rem;
            }

            .quantity {
              padding: 0.2rem 0.3rem;
              font-size: 1.3rem;
            }

            .count-down {
              font-size: 1.5rem;
              padding: 0.1rem 0.7rem;
            }
          }
        }

        &--price-and-itemStock-div {
          margin: 1rem 0 0 0;
          padding: 1% 0 1% 0;

          &--article-price {
            font-size: 1.4rem;
          }

          &--article-itemStock-total {
            font-size: 1.3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        &--add-shopping-cart-button {
          font-size: 1.2rem;
          margin: 0.5rem 0 2rem 0;
          padding: 0.1rem 0.5rem;
          background-color: #faed27;
          border: 1px solid black;
          border-radius: 0.2rem;
        }
      }
    }

    &__rooter-frame {
      background-color: $amagon-primary-color;
      height: 2rem;
      position: relative;
      bottom: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 300px) {
  .online-shop-single-article {
    &__header-frame {
      background-color: $amagon-primary-color;
      height: 1rem;
    }

    &__link-div {
      margin-top: 2rem;
      display: flex;
      justify-content: center;

      &--back-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        padding: 0.3rem 0.5rem;
        margin-right: 15%;

        &--icon {
          width: 1.3rem;
        }
      }

      &--link-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.3rem 0.5rem;
        margin: 0;

        &--shopping-cart-quantity {
          font-size: 0.9rem;
        }

        &--shopping-cart-icon {
          font-size: 1rem;
        }
      }
    }

    &__preview {
      margin: 3rem 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid gray;
      background-color: white;
      border-radius: 0.2rem;
      padding: 0 1%;

      &--left-section {
        width: 100%;
        height: 25rem;

        &--article-headline {
          margin: 1rem;
          font-size: 1.3rem;
        }

        &--article-img {
          width: 90%;
          height: 50%;
          object-fit: cover;
        }

        &--article-description {
          margin: 1.5rem 0;
          font-size: 0.9rem;
          padding: 0 0.5%;
        }
      }

      &--right-section {
        height: 50%;
        width: 100%;
        margin-top: -5rem;
        padding: 0 1%;

        &--article-quantity-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          row-gap: 2rem;

          &--quantity-headline {
            font-size: 1.2rem;
            margin: 1rem 0 -1rem 0;
            padding: 0;
          }

          &--article-count-and-quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: 0.5rem 0 0 0;

            .count-up {
              /*background-color: #66d3fa;*/

              background-color: #f96b00;
              font-size: 1.2rem;
              padding: 0.1rem 0.4rem;
              border: 1px solid black;
              border-radius: 0.2rem;
            }

            .quantity {
              border: 0.1rem solid black;
              border-radius: 0.2rem;
              padding: 0.2rem 0.3rem;
              font-size: 1rem;
            }

            .count-down {
              font-size: 1.2rem;
              padding: 0.1rem 0.6rem;
              background-color: #56cefa;
              border: 1px solid black;
              border-radius: 0.2rem;
            }
          }
        }

        &--price-and-itemStock-div {
          margin: 1rem 0 0 0;
          padding: 1% 0 1% 0;

          &--article-price {
            font-size: 1.1rem;
            margin: 0;
            padding: 2% 0 3% 0;
          }

          &--article-itemStock-total {
            font-size: 1.1rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 1% 0;
            padding: 0;
          }
        }

        &--add-shopping-cart-button {
          font-size: 1rem;
          margin: 0.1rem 0 1.5rem 0;
          padding: 0.1rem 0.5rem;
          background-color: #faed27;
          border: 1px solid black;
          border-radius: 0.2rem;
        }
      }
    }

    &__rooter-frame {
      background-color: $amagon-primary-color;
      height: 1rem;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
