$amagon-primary-color: #001f3f;
$amagon-secondery-color: #ffff00;

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*@media screen and (min-width: 1650px) {
  .online-shop-single-article {
    &__header-frame {
      background-color: $amagon-primary-color;
      height: 3rem;
    }

    &__back-menu-button {
      @include center-content();
      font-size: 1.3rem;
      width: 13rem;
      height: 3rem;
      margin: 5rem 0 5rem 10%;

      &--icon {
        width: 1.7rem;
      }
    }

    &__preview {
      max-width: 70rem;
      margin: 3rem auto 5rem auto;
      @include center-content();
      padding-left: 3rem;
      box-sizing: border-box;

      &--left-section {
        width: 50%;
        height: 100%;
        margin: 0 auto;

        &--article-headline {
          margin: 1.5rem;
          font-size: 2.1rem;
        }

        &--article-img {
          width: 100%;
          height: 25rem;
          object-fit: cover;
        }

        &--article-description {
          margin: 1.7rem 0;
          font-size: 1.6rem;
          padding: 0 0.5%;
        }
      }

      &--right-section {
        height: 100%;
        width: 50%;
        margin-top: 3rem;
        padding: 0 1%;

        &--article-quantity-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          row-gap: 3rem;

          &--quantity-headline {
            font-size: 2rem;
            margin: 1rem 0 -1rem 0;
            padding: 0;
          }

          &--article-count-and-quantity {
            @include center-content();
            gap: 1rem;
            width: 100%;
            padding: 0.5rem 0 0 0;
          }
        }

        &--price-and-itemStock-div {
          margin: 3rem 0 0 0;
          padding: 1% 0 1% 0;

          &--article-price {
            font-size: 1.8rem;
          }

          &--article-itemStock-total {
            font-size: 1.7rem;
            height: 3rem;
            @include center-content();
          }
        }

        &--add-shopping-cart-button {
          font-size: 1.6rem;
          margin: 2rem auto 3rem auto;
          width: 18rem;
          height: 2.7rem;
        }
      }
    }
  }
}*/

@media screen and (max-width: 1650px) {
  .selected-article {
    &__presentation-div {
      column-gap: 3%;
    }

    &__img-slides-show-div {
      width: 50rem;
      margin: 5rem 1rem 5rem 3%;
    }

    &__slides-show-main-div {
      width: 45rem;
      height: 27rem;
    }

    &__prev-button,
    &__next-button {
      width: 2.7rem;
    }

    &__icon {
      width: 1.7rem;
    }

    &__canvas {
      width: 35rem;
      height: 27rem;
    }

    &__slider-img {
      width: 33rem;
      height: 25rem;
    }

    &__img-small-overview {
      width: 75%;
      margin: 2rem auto 0 auto;
      column-gap: 0.5rem;
    }

    &__small-img {
      width: 4.7rem;
      height: 2.5rem;
    }

    &__focus-img {
      width: 5rem;
      height: 3.3rem;
    }

    &__article-info-div {
      height: 45rem;
    }

    &__article-headline {
      font-size: 1.6rem;
    }

    &__article-description {
      font-size: 1.2rem;
    }

    &__article-detail-overview-div {
      font-size: 1rem;
    }

    &__quantity-mini-headline {
      font-size: 1.2rem;
    }

    &__article-price-div {
      font-size: 1.2rem;
    }

    &__article-price {
      font-size: 1.4rem;
    }

    &__article-itemStock-total {
      font-size: 1rem;
    }

    &__add-shopping-cart-button {
      width: 14rem;
      font-size: 1.1rem;
      column-gap: 0.5rem;
    }

    &__shoppingcart-icon {
      width: 1.7rem;
    }
  }
}

@media screen and (max-width: 1400px) {
  .selected-article {
    &__presentation-div {
      column-gap: 1%;
    }

    &__img-slides-show-div {
      margin: 5rem 1rem 0s 3%;
    }

    &__slides-show-main-div {
      width: 40rem;
      height: 27rem;
    }

    &__prev-button,
    &__next-button {
      width: 2.5rem;
    }

    &__icon {
      width: 1.5rem;
    }

    &__canvas {
      width: 30rem;
      height: 27rem;
    }

    &__slider-img {
      width: 28rem;
      height: 25rem;
    }

    &__img-small-overview {
      width: 75%;
      margin: 2rem auto 0 auto;
      column-gap: 0.5rem;
    }

    &__small-img {
      width: 4.5rem;
      height: 2.3rem;
    }

    &__focus-img {
      width: 5rem;
      height: 3rem;
    }

    &__article-info-div {
      width: 23rem;
      height: 55rem;
    }

    &__article-headline {
      font-size: 1.5rem;
    }

    &__article-description {
      font-size: 1.1rem;
    }

    &__article-detail-overview-div {
      font-size: 1rem;
    }

    &__article-detail-div {
      flex-direction: column;
      row-gap: 0.1rem;
    }

    &__article-detail {
      width: 100%;
      margin: 0.1rem;
    }

    &__quantity-mini-headline {
      font-size: 1.1rem;
    }

    &__article-price-div {
      font-size: 1.1rem;
    }

    &__article-price {
      font-size: 1.3rem;
    }

    &__article-itemStock-total {
      font-size: 10.9;
    }

    &__add-shopping-cart-button {
      width: 13rem;
      font-size: 1rem;
      column-gap: 0.5rem;
    }

    &__shoppingcart-icon {
      width: 1.5rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .selected-article {
    &__presentation-div {
      flex-direction: column;
      row-gap: 3rem;
    }

    &__img-slides-show-div {
      width: 36rem;
      margin: 3rem auto 0 auto;
    }

    &__slides-show-main-div {
      width: 36rem;
      height: 25rem;
    }

    &__prev-button,
    &__next-button {
      width: 2.3rem;
    }

    &__icon {
      width: 1.3rem;
    }

    &__canvas {
      width: 26rem;
      height: 25rem;
    }

    &__slider {
      padding: 0.5rem 1rem;
      column-gap: 2rem;
    }

    &__slider-img {
      width: 24rem;
      height: 24rem;
    }

    &__img-small-overview {
      width: 75%;
      margin: 2rem auto 0 auto;
      column-gap: 0.5rem;
    }

    &__small-img {
      width: 4.5rem;
      height: 2.3rem;
    }

    &__focus-img {
      width: 4.7rem;
      height: 3rem;
    }

    &__article-info-div {
      width: 34rem;
      height: 37rem;
      margin: 0 auto;
      padding: 1.5rem 3%;
    }

    &__article-headline {
      font-size: 1.4rem;
    }

    &__article-description {
      font-size: 1.2rem;
    }

    &__article-detail-overview-div {
      font-size: 1rem;
    }

    &__article-detail-div {
      flex-direction: row;
    }

    &__article-detail {
      width: 100%;
      margin: 0.1rem;
    }

    &__quantity-mini-headline {
      font-size: 1.1rem;
    }

    &__article-price-div {
      font-size: 1.1rem;
    }

    &__article-price {
      font-size: 1.3rem;
    }

    &__article-itemStock-total {
      font-size: 10.9;
    }

    &__add-shopping-cart-button {
      width: 13rem;
      font-size: 1rem;
      column-gap: 0.5rem;
    }

    &__shoppingcart-icon {
      width: 1.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .selected-article {
    &__presentation-div {
      flex-direction: column;
      row-gap: 3rem;
    }

    &__img-slides-show-div {
      width: 18rem;
      margin: 3rem auto 0 auto;
    }

    &__slides-show-main-div {
      width: 18rem;
      height: 7rem;
    }

    &__prev-button,
    &__next-button {
      width: 2rem;
      height: 2rem;
      margin: 0;
    }

    &__icon {
      width: 1rem;
    }

    &__canvas {
      width: 16rem;
      height: 6rem;
    }

    &__slider {
      padding: 0 0.3rem;
      column-gap: 0.7rem;
    }

    &__slider-img {
      width: 12rem;
      height: 6rem;
    }

    &__img-small-overview {
      width: 95%;
      margin: 1rem auto 0 auto;
      column-gap: 0.5rem;
    }

    &__small-img {
      width: 2.7rem;
      height: 1.7rem;
    }

    &__focus-img {
      width: 3.3rem;
      height: 2.3rem;
    }

    &__article-info-div {
      width: 17rem;
      height: 50rem;
      margin: 0 auto;
      padding: 1.5rem 3%;
    }

    &__article-headline {
      font-size: 1.2rem;
    }

    &__article-description {
      font-size: 1rem;
    }

    &__article-detail-overview-div {
      font-size: 0.9rem;
    }

    &__article-detail-div {
      flex-direction: column;
    }

    &__article-detail {
      width: 100%;
      margin: 0.1rem;
    }

    &__quantity-mini-headline {
      font-size: 1.1rem;
    }

    &__article-price-div {
      font-size: 1rem;
    }

    &__article-price {
      font-size: 1.1rem;
    }

    &__article-itemStock-total {
      font-size: 0.9rem;
    }

    &__add-shopping-cart-button {
      width: 12rem;
      font-size: 15px;
      column-gap: 0.5rem;
    }

    &__shoppingcart-icon {
      width: 1.3rem;
    }
  }
}

@media screen and (max-width: 300px) {
}
