$amagon-primary-color: #001f3f;
$amagon-gold-yellow: #f1be15;
$amagon-gold-yellow2: #e5b80b;
/*$amagon-dark-corall-color: #cb532f;*/
$amagon-dark-corall-color: #e4d043;

.selected-article {
  &__to-main-site-button {
    padding: 3rem 0 0 7%;
    font-size: 1.2rem;
    background-color: #f3f5f6;
    transition: all 0.3s ease-in-out;
    border: none;
  }

  &__to-main-site-button:hover {
    text-decoration: underline;
  }

  &__to-main-site-icon {
    width: 1.7rem;
  }

  &__presentation-div {
    display: flex;
    justify-content: center;
  }

  &__img-slides-show-div {
    width: 60%;
    margin: 5rem 1rem;
    display: flex;
    flex-direction: column;
  }

  &__slides-show-main-div {
    width: 77%;
    height: 33rem;
    margin: 0 auto;
    background-color: white;
    column-gap: 1rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    border-radius: 0.2rem;
  }

  &__prev-button,
  &__next-button {
    width: 3rem;
    background-color: white;
    color: $amagon-primary-color;
    border-color: $amagon-primary-color;
    transition: all 0.3s ease-in-out;
  }

  &__prev-button:hover,
  &__next-button:hover {
    background-color: #eaeff3;
  }

  &__icon {
    width: 2rem;
  }

  &__canvas {
    width: 37rem;
    height: 30rem;
    overflow: hidden;
  }

  &__slider {
    display: flex;
    padding: 1rem;
    column-gap: 2rem;
    transition: all 0.7s ease-in-out;
  }

  &__slider-img {
    width: 35rem;
    height: 27rem;
    object-fit: cover;
    border-radius: 0.2rem;
  }

  &__img-small-overview {
    width: 75%;
    margin: 3rem auto 0 auto;
    column-gap: 0.5rem;
  }

  &__small-img,
  &__focus-img {
    object-fit: cover;
    border-radius: 0.2rem;
  }

  &__small-img {
    width: 5rem;
    height: 2.5rem;
  }

  &__focus-img {
    width: 7rem;
    height: 3.5rem;
  }

  &__small-img:hover,
  &__focus-img {
    cursor: pointer;
  }

  &__article-info-div {
    width: 40%;
    height: 47rem;
    margin: 0 3rem 0 0;
    padding: 1.5rem 1.5%;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }

  &__article-headline {
    font-size: 1.7rem;
  }

  &__article-description {
    margin: 1rem auto 0 auto;
    font-size: 1.3rem;
  }

  &__article-detail-overview-div {
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  &__article-detail-div {
    display: flex;
  }

  &__article-detail {
    width: 50%;
    margin: 0.5rem;
  }

  .key {
    width: 30%;
  }

  &__quantity-price-itemstock-div {
    margin: 1.5rem auto 0 auto;
    row-gap: 1rem;
  }

  &__quantity-mini-headline {
    font-size: 1.3rem;
  }

  &__article-price-div {
    font-size: 1.3rem;
    margin: 1rem auto 0 auto;
    text-align: right;
    color: gray;
  }

  &__article-price {
    font-size: 1.5rem;
    color: black;
  }

  &__article-itemStock-total {
    font-size: 1.1rem;
  }

  &__add-shopping-cart-button {
    width: 15rem;
    margin: 1rem auto 0 auto;
    font-size: 1.2rem;
    column-gap: 0.5rem;
  }

  &__shoppingcart-icon {
    width: 2rem;
  }

  .link-component {
    text-decoration: none;
  }

  .article-note {
  }

  .article-red {
    color: red;
  }
}
