.online-shop-single-article {
  $amagon-primary-color: #001f3f;
  $amagon-secondery-color: #ffff00;

  .pop-up-window {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__message-div {
      width: 30rem;
      height: 30rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__header-frame {
    background-color: $amagon-primary-color;
    height: 5rem;
  }

  &__back-menu-button {
    margin: 3rem 0 3rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 1px solid black;
    background-color: $amagon-primary-color;
    color: $amagon-secondery-color;
    border-radius: 0.2rem;
    padding: 0.3rem 1rem;
    margin-right: 40rem;

    &--icon {
      width: 2rem;
      height: auto;
    }
  }

  &__preview {
    margin: 3rem 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid gray;
    background-color: white;
    border-radius: 0.2rem;
    height: 100%;

    &--left-section {
      width: 50%;
      height: 100%;

      &--article-headline {
        margin: 1.5rem;
        font-size: 2rem;
      }

      &--article-img {
        width: 375px;
        height: 375px;
        object-fit: cover;
        border-radius: 0.2rem;
      }

      &--article-description {
        margin: 1.5rem 0;
        font-size: 1.5rem;
      }
    }

    &--right-section {
      height: 100%;
      width: 50%;
      padding-right: 5%;

      &--article-quantity-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        row-gap: 2rem;

        &--quantity-headline {
          font-size: 1.9rem;
          margin: 2% 0 1% 0;
          padding: 0;
        }
      }

      &--price-and-itemStock-div {
        margin: 0;
        padding: 1% 0 1% 0;

        &--article-price {
          font-size: 1.8rem;
          margin: 0;
          padding: 2% 0 3% 0;
        }

        &--article-itemStock-total {
          font-size: 1.8rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 0 1% 0;
          padding: 0;
        }
      }

      &--add-shopping-cart-button {
        font-size: 1.5rem;
        margin: 1rem 0 0 0;
        padding: 0.3rem 0.5rem;
        background-color: #ffff33;
        border: 1px solid black;
        border-radius: 0.2rem;
      }

      &--add-shopping-cart-button:hover {
        background-color: #f8f801;
      }
    }
  }

  .link-component {
    text-decoration: none;
  }

  .article-green {
    color: green;
  }

  .article-red {
    color: red;
  }
}
