$amagon-primary-color: #001f3f;
$amagon-lemon-yellow: #fff44f;

.about-use-section {
  /*background-color: #fafafa;*/
  /*background-color: #f3f5f6;*/

  &__headline {
    width: 11rem;
    height: 3rem;
    margin: 5rem 0 3rem 7.5%;
    font-size: 2rem;
    background-color: $amagon-primary-color;
    color: $amagon-lemon-yellow;
    border-radius: 0.2rem;
  }

  &__description-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10rem;
    width: 100%;
    box-sizing: border-box;
    padding: 3rem 7.7% 5rem 7.5%;
  }

  &__text {
    font-size: 1.3rem;
    text-align: left;
  }

  &__focus-word {
    background-color: $amagon-primary-color;
    color: $amagon-lemon-yellow;
    margin-right: 0.5%;
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;
  }

  &__main-description-div {
    margin: 5rem 0;
    row-gap: 3rem;
  }

  &__generally-description-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  &__first-description,
  &__second-description,
  &__third-description {
    width: 450px;
    height: 100%;
  }

  &__first-img,
  &__second-img,
  &__third-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__first-text,
  &__second-text,
  &__third-text {
    text-align: left;
    background-color: $amagon-primary-color;
    color: white;
  }

  &__first-text {
    padding: 1.2rem 1.5rem;
    line-height: 1.5rem;
  }

  &__second-text {
    padding: 1.2rem 1.5rem;
    line-height: 1.5rem;
  }

  &__third-text {
    padding: 0.5rem 1rem;
    line-height: 1.5rem;
  }

  &__way-to-client-description-div {
    width: 100%;
    padding-bottom: 5rem;
  }

  &__way-to-client-text {
    margin: 10rem 0 5rem 0;
    padding: 1.5rem 3%;
    font-size: 1.3rem;
    background-color: $amagon-primary-color;
    color: white;
    border-radius: 0.2rem;
  }

  &__way-to-client-img-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__airplane-img,
  &__ship-img,
  &__truck-img,
  &__train-img {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }

  a {
    text-decoration: none;
  }
}
