$amagon-primary-color: #001f3f;
$amagon-secondery-color: #ffff00;

@media screen and (min-width: 1600px) {
  .online-shop-about-use-section {
    &__headline {
      font-size: 2.3rem;
      padding: 5rem 0 1rem 0;
    }

    &__description-div {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 7rem;
      margin: 5rem auto 0 auto;
      padding: 1rem 0 5rem 0;
      max-width: 97rem;

      &--text {
        font-size: 1.3rem;
        margin-top: -5rem;

        &--focus-word {
          color: $amagon-secondery-color;
          margin-right: 0.5rem;
        }
      }

      &--img {
        width: 50%;
      }
    }

    &__main-description-div {
      padding-bottom: 3rem;
      &--first-description-div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 1.3rem;

        &--first-description {
          width: 31rem;

          .about-use-first-text {
            padding: 1.4rem 2rem 2.7rem 2rem;
            font-size: 1.2rem;
          }
        }

        &--second-description {
          width: 31rem;

          .about-use-second-text {
            padding: 1.5rem 2rem 2.9rem 2rem;
            font-size: 1.2rem;
          }
        }

        &--third-description {
          width: 31rem;

          .about-use-third-text {
            padding: 1.4rem 2rem;
            font-size: 1.2rem;
          }
        }
      }

      &--second-description-div {
        margin: 7rem 0 0 0;
        width: 100%;

        &--headline {
          font-size: 1.2rem;
          margin: 0 auto;
          padding: 2.3rem 3.3rem;
        }

        &--img-div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 90%;
          column-gap: 1.5rem;
          margin-top: 5rem;

          .airplane-img,
          .ship-img,
          .truck-img,
          .train-img {
            width: 25%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .online-shop-about-use-section {
    &__headline {
      font-size: 2rem;
      padding: 7rem 0 1rem 0;
    }

    &__description-div {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 7rem;
      margin: 7rem auto 0 auto;
      padding: 0 0 5rem 0;
      max-width: 77rem;

      &--text {
        font-size: 1.3rem;
        padding: 0;
        row-gap: 0;
        margin-top: -2.3rem;

        &--focus-word {
          color: $amagon-secondery-color;
          margin-right: 0.5rem;
        }
      }

      &--img {
        width: 40%;
      }
    }

    &__main-description-div {
      padding-bottom: 2rem;
      row-gap: 0;

      &--first-description-div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 25rem;

        &--first-description {
          width: 25rem;
          height: 100%;

          .about-use-first-text {
            padding: 1rem 1.5rem 2.5rem 1.5rem;
            font-size: 1.2rem;
          }
        }

        &--second-description {
          width: 25rem;

          .about-use-second-text {
            padding: 1rem 1.5rem 4.2rem 1.5rem;
            font-size: 1.2rem;
          }
        }

        &--third-description {
          width: 25rem;

          .about-use-third-text {
            padding: 1rem 1.5rem;
            font-size: 1.2rem;
          }
        }
      }

      &--second-description-div {
        margin: 7rem 0 0 0;
        width: 100%;

        &--headline {
          font-size: 1.2rem;
          margin: 1rem 7%;
          padding: 2.5rem 2.7rem;
        }

        &--img-div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 90%;
          column-gap: 1.5rem;
          margin-top: 5rem;

          .airplane-img,
          .ship-img,
          .truck-img,
          .train-img {
            width: 25%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .online-shop-about-use-section {
    &__headline {
      font-size: 2rem;
      padding: 7rem 0 1rem 0;
    }

    &__description-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 3rem;
      margin: 0 auto;
      padding: 6rem 0 5rem 0;
      max-width: 35rem;

      &--text {
        font-size: 1.3rem;
        padding: 2rem 0 0 0;

        &--focus-word {
          color: $amagon-secondery-color;
          margin-right: 0.5rem;
        }
      }

      &--img {
        width: 100%;
      }
    }

    &__main-description-div {
      padding-bottom: 1rem;

      &--first-description-div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 1.3rem;
        max-height: 18rem;

        //

        &--first-description {
          width: 18rem;
          height: 100%;

          .about-use-first-text {
            padding: auto 1rem auto 1rem;
            font-size: 1.1rem;
          }
        }

        &--second-description {
          width: 18rem;
          height: 100%;

          .about-use-second-text {
            padding: 1rem 1rem 4rem 1rem;
            font-size: 1.1rem;
            line-height: 1.5rem;
            display: flex;
          }
        }

        &--third-description {
          width: 18rem;
          height: 100%;

          .about-use-third-text {
            padding: 1rem;
            font-size: 1.1rem;
          }
        }
      }

      &--second-description-div {
        margin: 5rem 0 3rem 0;
        width: 100%;

        &--headline {
          font-size: 1.1rem;
          margin: 0 7%;
          padding: 1.5rem 2rem;
        }

        &--img-div {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 90%;
          gap: 1.5rem;
          margin-top: 3rem;

          .airplane-img,
          .ship-img,
          .truck-img,
          .train-img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .online-shop-about-use-section {
    &__headline {
      font-size: 2rem;
      padding: 5rem 0 0 0;
    }

    &__description-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 2rem;
      margin: 0 auto;
      padding: 4rem 0;
      max-width: 35rem;

      &--text {
        font-size: 1.3rem;

        &--focus-word {
          color: $amagon-secondery-color;
          margin-right: 0.5rem;
        }
      }

      &--img {
        width: 100%;
      }
    }

    &__main-description-div {
      margin: 0 auto;
      max-width: 35rem;

      &--first-description-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.5rem;

        &--first-description,
        &--second-description,
        &--third-description {
          width: 100%;

          .about-use-first-text,
          .about-use-second-text,
          .about-use-third-text {
            font-size: 1.1rem;
            width: 100%;
            padding: 1rem 5%;
            box-sizing: border-box;
          }
        }
      }

      &--second-description-div {
        margin: 5rem 0 0 0;
        max-width: 35rem;

        &--headline {
          font-size: 1.3rem;
          margin: 0 7%;
          padding: 1rem 1.5rem;
        }

        &--img-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          row-gap: 2rem;
          margin-top: 3rem;

          .airplane-img,
          .ship-img,
          .truck-img,
          .train-img {
            margin: 0 auto;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .online-shop-about-use-section {
    &__headline {
      font-size: 1.7rem;
      padding: 3rem 1% 1rem 1%;
    }

    &__description-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1.5rem;
      padding: 2rem 5% 3rem 5%;

      &--text {
        font-size: 1.1rem;

        &--focus-word {
          color: $amagon-secondery-color;
          margin-right: 0.5rem;
          padding: 0.1rem 0.2rem;
        }
      }

      &--img {
        width: 100%;
      }
    }

    &__main-description-div {
      &--first-description-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;

        &--first-description,
        &--second-description,
        &--third-description {
          width: 90%;

          .about-use-first-text,
          .about-use-second-text,
          .about-use-third-text {
            font-size: 1rem;
            width: 100%;
            padding: 0.7rem 3%;
            box-sizing: border-box;
          }
        }
      }

      &--second-description-div {
        margin: 3rem 0 0 0;
        width: 100%;

        &--headline {
          font-size: 1rem;
          margin: 0 7%;
          padding: 0.7rem 0.5rem;
        }

        &--img-div {
          display: flex;
          flex-direction: column;
          align-items: center;

          width: 90%;
          row-gap: 1.5rem;
          margin-top: 2rem;

          .airplane-img,
          .ship-img,
          .truck-img,
          .train-img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .online-shop-about-use-section {
    &__headline {
      font-size: 1.5rem;
      padding: 2rem 0 1rem 0;
    }

    &__description-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1.5rem;
      margin: 1rem 0 3rem 0;
      padding: 0 5%;
      box-sizing: border-box;

      &--text {
        font-size: 0.9rem;

        &--focus-word {
          color: $amagon-secondery-color;
          margin-right: 0.3rem;
          padding: 0.1rem 0.2rem;
        }
      }

      &--img {
        width: 100%;
      }
    }

    &__main-description-div {
      padding-bottom: 0;

      &--first-description-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;

        &--first-description,
        &--second-description,
        &--third-description {
          width: 90%;

          .about-use-first-text,
          .about-use-second-text,
          .about-use-third-text {
            font-size: 0.9rem;
            padding: 0.5rem 3%;
            width: 100%;
            box-sizing: border-box;
          }
        }
      }

      &--second-description-div {
        margin: 3rem 0 0 0;
        width: 100%;

        &--headline {
          font-size: 0.9rem;
          padding: 0.7rem 0.5rem;
        }

        &--img-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 90%;
          row-gap: 0.7rem;
          margin-top: 2rem;

          .airplane-img,
          .ship-img,
          .truck-img,
          .train-img {
            height: 25%;
          }
        }
      }
    }
  }
}
