$amagon-primary-color: #001f3f;
$amagon-secondery-color: #ffff00;

/*@media screen and (min-width: 1600px) {
  .online-shop-about-use-section {
    &__headline {
      font-size: 2.3rem;
      padding: 5rem 0 1rem 0;
    }

    &__description-div {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 7rem;
      margin: 5rem auto 0 auto;
      padding: 1rem 0 5rem 0;
      max-width: 97rem;

      &--text {
        font-size: 1.3rem;
        margin-top: -5rem;

        &--focus-word {
          color: $amagon-secondery-color;
          margin-right: 0.5rem;
        }
      }

      &--img {
        width: 50%;
      }
    }

    &__main-description-div {
      padding-bottom: 3rem;
      &--first-description-div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 1.3rem;

        &--first-description {
          width: 31rem;

          .about-use-first-text {
            padding: 1.4rem 2rem 2.7rem 2rem;
            font-size: 1.2rem;
          }
        }

        &--second-description {
          width: 31rem;

          .about-use-second-text {
            padding: 1.5rem 2rem 2.9rem 2rem;
            font-size: 1.2rem;
          }
        }

        &--third-description {
          width: 31rem;

          .about-use-third-text {
            padding: 1.4rem 2rem;
            font-size: 1.2rem;
          }
        }
      }

      &--second-description-div {
        margin: 7rem 0 0 0;
        width: 100%;

        &--headline {
          font-size: 1.2rem;
          margin: 0 auto;
          padding: 2.3rem 3.3rem;
        }

        &--img-div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 90%;
          column-gap: 1.5rem;
          margin-top: 5rem;

          .airplane-img,
          .ship-img,
          .truck-img,
          .train-img {
            width: 25%;
          }
        }
      }
    }
  }
}*/

@media screen and (max-width: 1650px) {
  .about-use-section {
    &__way-to-client-img-div {
      width: 65%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 1.5rem;
    }

    .img {
      margin: auto;
    }
  }
}

@media screen and (max-width: 1400px) {
  .about-use-section {
    &__headline {
      width: 9rem;
      height: 2.7rem;
      font-size: 1.5rem;
    }

    &__description-div,
    &__generally-description-div {
      flex-direction: column;
      row-gap: 3rem;
    }

    &__text {
      font-size: 1.2rem;
    }

    &__focus-word {
    }

    &__main-description-div {
      margin: 3rem 0;
    }

    &__way-to-client-text {
      margin: 5rem 5% 3rem 5%;
      padding: 1.3rem 2%;
      font-size: 1.2rem;
    }

    &__way-to-client-img-div {
      width: 85%;
      column-gap: 1rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .about-use-section {
    &__headline {
      width: 7rem;
      height: 2.5rem;
      margin: 3rem 0 1.5rem 7.5%;
      font-size: 1.3rem;
    }

    &__description-div,
    &__generally-description-div {
      flex-direction: column;
      row-gap: 3rem;
    }

    &__description-div {
      padding: 1rem 7.7% 3rem 7.5%;
    }

    &__text {
      font-size: 1.2rem;
    }

    &__focus-word {
    }

    &__img {
      width: 75%;
    }

    &__generally-description-div {
    }

    &__main-description-div {
      margin: 1.5rem 0;
    }

    &__first-description,
    &__second-description,
    &__third-description {
      width: 50%;
    }

    &__first-text,
    &__second-text {
      padding: 1rem;
    }

    &__way-to-client-description-div {
      padding-bottom: 3rem;
    }

    &__way-to-client-text {
      margin: 3rem 3% 1.5rem 3%;
      padding: 1rem 3%;
      font-size: 1.1rem;
    }

    &__way-to-client-img-div {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 600px) {
  .about-use-section {
    &__headline {
      width: 6rem;
      height: 2rem;
      margin: 3rem 0 1.5rem 3%;
      font-size: 1.2rem;
    }

    &__description-div,
    &__generally-description-div {
      flex-direction: column;
      row-gap: 3rem;
    }

    &__description-div {
      padding: 1rem 3% 3rem 3%;
    }

    &__text {
      font-size: 1rem;
    }

    &__focus-word {
    }

    &__img {
      width: 95%;
    }

    &__generally-description-div {
    }

    &__main-description-div {
      margin: 1rem 0;
    }

    &__first-description,
    &__second-description,
    &__third-description {
      width: 95%;
    }

    &__first-text,
    &__second-text,
    &__third-text {
      font-size: 0.9rem;
    }

    &__first-text,
    &__second-text {
      padding: 1rem;
    }

    &__way-to-client-description-div {
      padding-bottom: 3rem;
    }

    &__way-to-client-text {
      margin: 1.5rem 3% 1rem 3%;
      padding: 1rem 3%;
      font-size: 0.9rem;
    }

    &__way-to-client-img-div {
      grid-template-columns: 1fr;
    }

    .img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 300px) {
}
