$amagon-primary-color: #001f3f;
$amagon-secondery-color: #ffff00;

.online-shop-checkOut {
  &__headline {
    margin: 6% 0;
    font-size: 2.3rem;
    line-height: 5rem;

    &--focus-word {
      background-color: $amagon-primary-color;
      color: $amagon-secondery-color;
      border-radius: 0.2rem;
      padding: 0.1% 0.5%;
      margin: 0 0.5%;
    }
  }
}

/*    !!!!!!! ACHTUNG ACHTUNG ACHTUNG !!!!!!

        wenn ein HTML-Element UNTEN am Boden gesetzt/positioniert werden soll müssen folgende Css-Eigenschaften gegeben sein:
        1. position: absolute; -> um das HTML-Element frei auf der ganzen Seite positionieren zukönnen
        2. bottom: ?value; -> die Richtung in der das HTML-Element positioniert/Ausgerichtet werden soll = top, left, right, bottom
        3. die Breite und Höhenangaben = width und height, width und height müssen ebenfalls angegeben werden um die Fläche des HTML-Elementes 
           anzuzeigen
  
  */

.link-component {
  text-decoration: none;
}

.button {
  cursor: pointer;
}
