@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
$font-art: "Comfortaa", sans-serif;
//$amagon-primary-color: #0b1f3a;
$amagon-primary-color: #18273a;
$amagon-lemon-yellow: #fff44f;
$amagon-coral-color: #ff7f40;

.headline-div {
  padding: 1rem 0;
  text-align: center;
  font-family: $font-art;
  background-color: $amagon-primary-color;
  color: #f3f5f6;

  &__headline {
    font-size: 2.3rem;
  }

  &__focus-text {
    color: $amagon-lemon-yellow;
  }

  &__slogan-text {
    font-size: 1.3rem;
  }
}

/*@media screen and (min-width: 1650px) {
  .online-shop-head-section {
    &__headline {
      margin: 0.5rem 0;
      padding: 1rem 10% 0 10%;
      font-size: 2.5rem;
      line-height: 3rem;
    }

    &__focus-text {
      color: $amagon-coral-color;
    }

    &__slogan-text {
      font-size: 1.5rem;
    }
  }
}*/

@media screen and (max-width: 1650px) {
  .headline-div {
    padding: 0.5rem 0;

    &__headline {
      margin: 0.3rem 0;
      font-size: 1.8rem;
      line-height: 2.3rem;
    }

    &__focus-text {
    }

    &__slogan-text {
      font-size: 1rem;
    }
  }
}

/*@media screen and (max-width: 1400px) {
  .online-shop-head-section {
    &__headline {
      margin: 0.5rem 0;
      padding: 1rem 10% 0 10%;
      font-size: 2.2rem;
      line-height: 2.7rem;
    }

    &__focus-text {
      color: $amagon-coral-color;
    }

    &__slogan-text {
      font-size: 1.3rem;
    }
  }
}*/

@media screen and (max-width: 1000px) {
  .headline-div {
    &__headline {
      margin: 0.3rem 0;
      font-size: 1.8rem;
      line-height: 2.3rem;
    }

    &__focus-text {
    }

    &__slogan-text {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .headline-div {
    padding: 0.1rem 0;

    &__headline {
      margin: 0.1rem 0;
      font-size: 1.4rem;
      line-height: 1.5rem;
    }

    &__focus-text {
    }

    &__slogan-text {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 300px) {
  .online-shop-head-section {
    &__headline {
      margin: 0.5rem 0;
      padding: 0.5rem 10% 0 10%;
      font-size: 0.8rem;
      line-height: 1rem;
    }

    &__focus-text {
      color: $amagon-coral-color;
    }

    &__slogan-text {
      font-size: 0.6rem;
    }
  }
}
