@media screen and (min-width: 1300px) {
  .pop-up-window {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__message-div {
      width: 75%;
      height: 50%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &--headline {
        font-size: 1.7rem;
        line-height: 3rem;
        padding: 0 5%;
      }

      &--close-button {
        font-size: 1rem;
      }
    }
  }

  .article-preview-section {
    margin: 2.5% 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: #ff7519;*/
    width: 100%;
    padding: 0 5% 0 3%;
    box-sizing: border-box;

    &__headline {
      font-size: 2rem;
      padding: 5% 0 2.5% 0;
    }

    .article-preview {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100%;
      column-gap: 2%;
      row-gap: 3%;
      box-sizing: border-box;
      margin: 0;
      padding: 0;

      .article {
        border: 1px solid gray;
        border-radius: 0.2rem;
        width: 100%;
        height: 300px;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        margin: 0;

        &__left-section {
          width: 50%;
          height: 100%;

          &--article-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
          }
        }

        &__right-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 50%;
          height: 100%;
          margin: 0;
          padding: 0;
          gap: 10%;

          &--article-headline {
            padding: 0;
            font-size: 1.7rem;
            margin: 0;
          }

          &--article-description {
            font-size: 1.3rem;
            padding: 0 10%;
            margin: 0;
            padding: 0 3%;
          }

          &--price-and-sale-icon-div {
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            &--article-price {
              font-size: 1.7rem;
              margin: 0;
            }

            &--sale-icon {
              width: 2.5rem;
              height: 2.5rem;
              margin: 0;
              object-fit: cover;
            }
          }

          &--button-div {
            margin: 0 10%;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 0.5%;

            &--add-shoppingcart-button {
              background-color: #faed27;
              font-size: 1.2rem;
              color: black;
              border-radius: 0.2rem;
              border: 1px solid gray;
              padding: 0.1rem 1%;

              &--shoppingcart-icon {
                font-size: 1.2rem;
              }
            }

            &--link-component {
              &--more-info-button {
                font-size: 1.2rem;
                border: 1px solid black;
                border-radius: 0.2rem;
                padding: 0.2rem 0.3rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .pop-up-window {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__message-div {
      width: 75%;
      height: 50%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &--headline {
        font-size: 1.7rem;
        line-height: 3rem;
        padding: 0 5%;
      }

      &--close-button {
        font-size: 1rem;
      }
    }
  }

  .article-preview-section {
    margin: 2.5% 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: #ff7519;*/
    width: 100%;
    height: auto;
    padding: 0 1.5% 0 2%;
    box-sizing: border-box;

    &__headline {
      font-size: 1.8rem;
      padding: 5% 0 2.5% 0;
    }

    .article-preview {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100%;
      height: auto;
      column-gap: 1.5%;
      row-gap: 1.5%;

      .article {
        border: 1px solid gray;
        border-radius: 0.2rem;
        width: 100%;
        height: 200px;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;

        &__left-section {
          width: 50%;
          height: 100%;

          &--article-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
          }
        }

        &__right-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 50%;
          height: 100%;
          margin: 0;
          padding: 0;
          gap: 8%;

          &--article-headline {
            padding: 0;
            font-size: 1.4rem;
            margin: 0;
          }

          &--article-description {
            font-size: 1.1rem;
            padding: 0 10%;
            margin: 0;
            padding: 0;
          }

          &--price-and-sale-icon-div {
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            &--article-price {
              font-size: 1.5rem;
              margin: 0;
            }

            &--sale-icon {
              width: 2rem;
              height: 2rem;
              margin: 0;
              object-fit: cover;
            }
          }

          &--button-div {
            margin: 0 10%;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 0.5%;

            &--add-shoppingcart-button {
              background-color: #faed27;
              font-size: 1rem;
              color: black;
              border-radius: 0.2rem;
              border: 1px solid gray;
              padding: 0.1rem 1%;

              &--shoppingcart-icon {
                font-size: 1rem;
              }
            }

            &--link-component {
              &--more-info-button {
                font-size: 1rem;
                border: 1px solid black;
                border-radius: 0.2rem;
                padding: 0.2rem 0.3rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .pop-up-window {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 515%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__message-div {
      width: 75%;
      height: 25%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &--headline {
        font-size: 1.7rem;
        line-height: 3rem;
        padding: 0 5%;
      }

      &--close-button {
        font-size: 1rem;
      }
    }
  }

  .article-preview-section {
    margin: 2.5% 0 5% 0;
    /*background-color: #ff7519;*/
    padding: 0 2.5%;

    &__headline {
      font-size: 1.8rem;
      padding: 5% 0 2.5% 0;
    }

    .article-preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      row-gap: 1.5rem;
      margin: 0;
      padding: 0;

      .article {
        border: 1px solid gray;
        border-radius: 0.2rem;
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__left-section {
          width: 100%;
          height: 100%;

          &--article-img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            border-top-left-radius: 0.2rem;
            border-top-right-radius: 0.2rem;
          }
        }

        &__right-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          gap: 0;

          &--article-headline {
            padding: 2% 0 2.5% 0;
            font-size: 1.6rem;
            margin: 0;
          }

          &--article-description {
            font-size: 1.4rem;
            padding: 0 10%;
            margin: 0;
            padding: 2.5% 0 2.5% 0;
          }

          &--price-and-sale-icon-div {
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2.5% 0 2.5% 0;

            &--article-price {
              font-size: 1.7rem;
              margin: 0;
            }

            &--sale-icon {
              width: 2.5rem;
              height: 2.5rem;
              margin: 0;
              object-fit: cover;
            }
          }

          &--button-div {
            margin: 0;
            padding: 2.5% 0 7% 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &--add-shoppingcart-button {
              background-color: #faed27;
              font-size: 1.3rem;
              color: black;
              border-radius: 0.2rem;
              border: 1px solid gray;

              &--shoppingcart-icon {
                font-size: 1.2rem;
              }
            }

            &--link-component {
              &--more-info-button {
                font-size: 1.1rem;
                border: 1px solid black;
                border-radius: 0.2rem;
                padding: 0.2rem 0.3rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .pop-up-window {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 415%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__message-div {
      width: 75%;
      height: 25%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &--headline {
        font-size: 1.5rem;
        line-height: 3rem;
        padding: 0 5%;
      }

      &--close-button {
        font-size: 0.8rem;
      }
    }
  }

  .article-preview-section {
    margin: 2.5% 0 5% 0;
    /*background-color: #ff7519;*/
    padding: 0 3%;

    &__headline {
      font-size: 1.5rem;
      padding: 5% 0 2.5% 0;
    }

    .article-preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      row-gap: 1.5rem;

      .article {
        border: 1px solid gray;
        border-radius: 0.2rem;
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__left-section {
          width: 100%;
          height: 100%;

          &--article-img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-top-left-radius: 0.2rem;
            border-top-right-radius: 0.2rem;
          }
        }

        &__right-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          gap: 0;

          &--article-headline {
            padding: 2% 0 2.5% 0;
            font-size: 1.3rem;
            margin: 0;
          }

          &--article-description {
            font-size: 1rem;
            padding: 0 10%;
            margin: 0;
            padding: 2.5% 0 2.5% 0;
          }

          &--price-and-sale-icon-div {
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2.5% 0 2.5% 0;

            &--article-price {
              font-size: 1.5rem;
              margin: 0;
            }

            &--sale-icon {
              width: 1.7rem;
              height: 1.7rem;
              margin: 0;
              object-fit: cover;
            }
          }

          &--button-div {
            margin: 0;
            padding: 2.5% 0 7% 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &--add-shoppingcart-button {
              background-color: #faed27;
              font-size: 1rem;
              color: black;
              border-radius: 0.2rem;
              border: 1px solid gray;

              &--shoppingcart-icon {
                font-size: 1.1rem;
              }
            }

            &--link-component {
              &--more-info-button {
                font-size: 1rem;
                border: 1px solid black;
                border-radius: 0.2rem;
                padding: 0.2rem 0.3rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .pop-up-window {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 225%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__message-div {
      width: 75%;
      height: 25%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &--headline {
        font-size: 1rem;
        line-height: 2rem;
        padding: 0 7%;
      }

      &--close-button {
        font-size: 0.7rem;
      }
    }
  }

  .article-preview-section {
    margin: 2.5% 0 5% 0;
    /*background-color: #ff7519;*/
    padding: 0 2% 0 3%;

    &__headline {
      font-size: 1.3rem;
      padding: 5% 0 2.5% 0;
    }

    .article-preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      row-gap: 1rem;

      .article {
        border: 1px solid gray;
        border-radius: 0.2rem;
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__left-section {
          width: 100%;
          height: 100%;

          &--article-img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-top-left-radius: 0.2rem;
            border-top-right-radius: 0.2rem;
          }
        }

        &__right-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          gap: 0;

          &--article-headline {
            padding: 1.5% 0 2% 0;
            font-size: 1rem;
            margin: 0;
          }

          &--article-description {
            font-size: 0.8rem;
            padding: 0 10%;
            margin: 0;
            padding: 2% 0 2% 0;
          }

          &--price-and-sale-icon-div {
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2% 0 2% 0;

            &--article-price {
              font-size: 1rem;
              margin: 0;
            }

            &--sale-icon {
              width: 1.3rem;
              height: 1.3rem;
              margin: 0;
              object-fit: cover;
            }
          }

          &--button-div {
            margin: 0;
            padding: 2% 0 5% 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &--add-shoppingcart-button {
              background-color: #faed27;
              font-size: 0.7rem;
              color: black;
              border-radius: 0.2rem;
              border: 1px solid gray;

              &--shoppingcart-icon {
                font-size: 0.8rem;
              }
            }

            &--link-component {
              &--more-info-button {
                font-size: 0.7rem;
                border: 1px solid black;
                border-radius: 0.2rem;
                padding: 0.2rem 0.3rem;
              }
            }
          }
        }
      }
    }
  }
}
