$amagon-primary-color: #18273a;

/*.pop-up-window {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__message-div {
    width: 30rem;
    height: 30rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}*/

.link-component {
  text-decoration: none;
  color: black;
}

.article-preview-section {
  padding: 0 0 10rem 0;

  &__headline {
    font-size: 2.3rem;
    margin: 3rem 42% 0 42%;
    padding-top: 2rem;
    color: #001f3f;
    border-bottom: 1px solid #001f3f;
  }

  &__all-category-nav-bar {
    width: 30%;
    margin: 3rem auto 0 auto;
    background-color: $amagon-primary-color;
    color: white;
    column-gap: 3rem;
    border-radius: 0.2rem;
  }

  &__link-category {
    padding: 0.7rem 0;
    font-size: 1.3rem;
  }

  &__link-category:hover {
    cursor: pointer;
  }

  &__article-preview {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 7%;
    gap: 3rem;
  }
}

.active-category {
  text-decoration: underline;
}

/*@media screen and (min-width: 1600px) {
  .article-preview-section {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__headline {
      font-size: 2rem;
      margin-top: 1.7rem;
    }

    &__article-preview {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 4rem;
      padding: 1rem 7% 0 4%;
      column-gap: 2.5rem;
    }
  }
}

@media screen and (max-width: 1600px) {
  .article-preview-section {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__headline {
      font-size: 2rem;
      margin: 0;
      padding: 3rem 0;
    }

    &__article-preview {
      display: grid;
      grid-template-columns: 50% 50%;
      padding: 1rem 2.5% 0 1%;
      column-gap: 1.3rem;
      row-gap: 1.3rem;
    }
  }
}

@media screen and (max-width: 1300px) {
  .article-preview-section {
    padding: 1.5rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__headline {
      font-size: 1.7rem;
      margin: 0;
      padding: 1rem 0 3rem 0;
    }

    &__article-preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 2rem;
      padding: 0 3% 0 5%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .article-preview-section {
    padding: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__headline {
      font-size: 1.7rem;
      margin: 0;
      padding: 2rem 0 4rem 0;
    }

    &__article-preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 5%;
      row-gap: 1.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .article-preview-section {
    padding: 0 0 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__headline {
      font-size: 1.5rem;
      padding: 1rem 0 2rem 0;
    }

    &__article-preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 5%;
      row-gap: 1.3rem;
    }
  }
}

@media screen and (max-width: 300px) {
  .article-preview-section {
    padding: 0.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__headline {
      font-size: 1.3rem;
      margin-top: 1rem;
    }

    &__article-preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 4%;
      row-gap: 1rem;
      margin-bottom: -5rem;
    }
  }
}*/
