$amagon-primary-color: #001f3f;
$amagon-gold-yellow: #f1be15;
$amagon-gold-yellow2: #e5b80b;
$amagon-yellow-orange: #ff7800;

.article-count-and-quantity {
  gap: 1rem;
}

.plus-icon {
  width: 1.3rem;
  color: $amagon-yellow-orange;
}

.count-down {
  width: 3rem;
  border: 1px solid $amagon-primary-color;
}

.count-down:hover {
  background-color: #eaeff3;
}

.count-up,
.count-down {
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.quantity {
  width: 3rem;
  height: 2.5rem;
  font-size: 1.3rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
}

.count-up {
  width: 3rem;
  border: 1px solid $amagon-yellow-orange;
}

.count-up:hover {
  background-color: #fef2f2;
}

.minus-icon {
  width: 1rem;
  color: $amagon-primary-color;
}

.disabled-button {
  background-color: #eee;
  color: gray;
}

.disabled-button:hover {
  background-color: #eee;
}

.no-hover:hover {
  cursor: context-menu;
}

/*@media screen and (min-width: 1600px) {
  .article-count-and-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0 0 0;

    .count-up {
      font-size: 2rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    .quantity {
      padding: 0.3rem 0.4rem;
      font-size: 1.7rem;
    }

    .count-down {
      font-size: 2rem;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0;
    }
  }
}

@media screen and (max-width: 1600px) {
  .article-count-and-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0 0 0;

    .count-up {
      font-size: 2rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    .quantity {
      padding: 0.3rem 0.4rem;
      font-size: 1.7rem;
    }

    .count-down {
      font-size: 2rem;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0;
    }
  }
}

@media screen and (max-width: 1300px) {
  .article-count-and-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0 0 0;

    .count-up {
      font-size: 2rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    .quantity {
      padding: 0.3rem 0.5rem;
      font-size: 1.7rem;
    }

    .count-down {
      font-size: 2rem;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .article-count-and-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0 0 0;

    .count-up {
      font-size: 1.7rem;
      width: 2.3rem;
      height: 2.3rem;
    }

    .quantity {
      padding: 0.3rem 0.4rem;
      font-size: 1.5rem;
    }

    .count-down {
      font-size: 1.7rem;
      width: 2.3rem;
      height: 2.3rem;
      padding: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .article-count-and-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0 0 0;

    .count-up {
      font-size: 1.5rem;
      width: 2.1rem;
      height: 2.1rem;
      padding: 0;
    }

    .quantity {
      padding: 0.3rem 0.5rem;
      font-size: 1.3rem;
    }

    .count-down {
      font-size: 1.5rem;
      width: 2.1rem;
      height: 2.1rem;
      padding: 0;
    }
  }
}

@media screen and (max-width: 300px) {
  .article-count-and-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0 0 0;

    .count-up {
  

      background-color: #f96b00;
      font-size: 1.2rem;
      width: 1.7rem;
      height: 1.7rem;
      padding: 0;
      border: 1px solid black;
      border-radius: 0.2rem;
    }

    .quantity {
      border: 0.1rem solid black;
      border-radius: 0.2rem;
      padding: 0.3rem 0.4rem;
      font-size: 1rem;
    }

    .count-down {
      font-size: 1.2rem;
      width: 1.7rem;
      height: 1.7rem;
      padding: 0;
      background-color: #56cefa;
      border: 1px solid black;
      border-radius: 0.2rem;
    }
  }
}*/
