.article-count-and-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  width: 100%;
  margin: 0;
  padding: 1% 0 1% 0;

  .count-up {
    background-color: #f96b00;
    font-size: 2rem;
    padding: 0.3rem 1rem;
    border: 1px solid black;
    border-radius: 0.2rem;
  }

  .count-up:hover {
    background-color: #e46500;
  }

  .quantity {
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 1.6% 2.2%;
    font-size: 1.7rem;
  }

  .count-down {
    font-size: 2rem;
    padding: 0.4rem 1.3rem;
    background-color: #56cefa;
    border: 1px solid black;
    border-radius: 0.2rem;
  }

  .count-down:hover {
    background-color: #29b6f6;
  }
}

@media screen and (min-width: 1600px) {
  .article-count-and-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0 0 0;

    .count-up {
      font-size: 2rem;
      padding: 0.1rem 0.7rem;
    }

    .quantity {
      padding: 0.3rem 0.4rem;
      font-size: 1.7rem;
    }

    .count-down {
      font-size: 2rem;
      padding: 0.1rem 0.9rem;
    }
  }
}

@media screen and (max-width: 1600px) {
  .article-count-and-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0 0 0;

    .count-up {
      font-size: 2rem;
      padding: 0.1rem 0.7rem;
    }

    .quantity {
      padding: 0.3rem 0.4rem;
      font-size: 1.7rem;
    }

    .count-down {
      font-size: 2rem;
      padding: 0.1rem 0.9rem;
    }
  }
}

@media screen and (max-width: 1300px) {
  .article-count-and-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0 0 0;

    .count-up {
      font-size: 2rem;
      padding: 0.1rem 0.7rem;
    }

    .quantity {
      padding: 0.3rem 0.5rem;
      font-size: 1.7rem;
    }

    .count-down {
      font-size: 2rem;
      padding: 0.1rem 0.9rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .article-count-and-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0 0 0;

    .count-up {
      font-size: 1.7rem;
      padding: 0.1rem 0.6rem;
    }

    .quantity {
      padding: 0.3rem 0.4rem;
      font-size: 1.5rem;
    }

    .count-down {
      font-size: 1.7rem;
      padding: 0.1rem 0.8rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .article-count-and-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0 0 0;

    .count-up {
      font-size: 1.5rem;
      padding: 0.1rem 0.6rem;
    }

    .quantity {
      padding: 0.3rem 0.5rem;
      font-size: 1.3rem;
    }

    .count-down {
      font-size: 1.5rem;
      padding: 0.1rem 0.7rem;
    }
  }
}

@media screen and (max-width: 300px) {
  .article-count-and-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0 0 0;

    .count-up {
      /*background-color: #66d3fa;*/

      background-color: #f96b00;
      font-size: 1.2rem;
      padding: 0.1rem 0.4rem;
      border: 1px solid black;
      border-radius: 0.2rem;
    }

    .quantity {
      border: 0.1rem solid black;
      border-radius: 0.2rem;
      padding: 0.3rem 0.4rem;
      font-size: 1rem;
    }

    .count-down {
      font-size: 1.2rem;
      padding: 0.1rem 0.6rem;
      background-color: #56cefa;
      border: 1px solid black;
      border-radius: 0.2rem;
    }
  }
}
