@media screen and (min-width: 1300px) {
  .online-shop-checkOut {
    .online-shop-checkOut-header-frame {
      height: 4.5rem;
      background-color: #001f3f;
    }

    .online-shop-checkOut-link-div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0;
      padding: 5% 0 1.5% 0;

      &__link-component-left--back-menu-button {
        font-size: 1.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__link-component-right {
        &--shopping-cart-button {
          font-size: 1.6rem;
        }
      }
    }

    .link-component {
      text-decoration: none;
    }

    .button {
      cursor: pointer;
    }

    .button:hover {
      text-decoration: underline;
    }

    .online-shop-checkOut-headline {
      margin: 5% 0 0 0;
      padding: 0 5%;
      font-size: 2.3rem;
      line-height: 4rem;

      &__focus-word {
        background-color: #001f3f;
        color: #ffff00;
        border-radius: 0.2rem;
        padding: 0.1% 0.5%;
        margin: 0 0.2%;
      }
    }

    .online-shop-checkOut-rooter-frame {
      height: 4.5rem;
      width: 100%;
      background-color: #001f3f;
    }
  }
}

@media screen and (max-width: 1300px) {
  .online-shop-checkOut {
    .online-shop-checkOut-header-frame {
      height: 4.5rem;
      background-color: #001f3f;
    }

    .online-shop-checkOut-link-div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 5% 0 0 0;
      padding: 5% 0 1.5% 0;

      &__link-component-left--back-menu-button {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__link-component-right {
        &--shopping-cart-button {
          font-size: 1.4rem;
        }
      }
    }

    .link-component {
      text-decoration: none;
    }

    .button {
      cursor: pointer;
    }

    .button:hover {
      text-decoration: underline;
    }

    .online-shop-checkOut-headline {
      margin: 7% 0 0 0;
      padding: 0 5%;
      font-size: 2rem;
      line-height: 3rem;

      &__focus-word {
        background-color: #001f3f;
        color: #ffff00;
        border-radius: 0.2rem;
        padding: 0.1% 0.5%;
        margin: 0 0.3%;
      }
    }

    .online-shop-checkOut-rooter-frame {
      height: 4.5rem;
      width: 100%;
      background-color: #001f3f;
    }
  }
}

@media screen and (max-width: 1000px) {
  .online-shop-checkOut {
    .online-shop-checkOut-header-frame {
      height: 4rem;
      background-color: #001f3f;
    }

    .online-shop-checkOut-link-div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 5% 0 0 0;
      padding: 5% 0 1.5% 0;

      &__link-component-left--back-menu-button {
        font-size: 1.3rem;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__link-component-right {
        &--shopping-cart-button {
          font-size: 1.2rem;
        }
      }
    }

    .link-component {
      text-decoration: none;
    }

    .button {
      cursor: pointer;
    }

    .button:hover {
      text-decoration: underline;
    }

    .online-shop-checkOut-headline {
      margin: 10% 0 0 0;
      padding: 0 5%;
      font-size: 1.7rem;
      line-height: 3rem;

      &__focus-word {
        background-color: #001f3f;
        color: #ffff00;
        border-radius: 0.2rem;
        padding: 0.1% 0.5%;
        margin: 0 0.3%;
      }
    }

    .online-shop-checkOut-rooter-frame {
      height: 4rem;
      width: 100%;
      background-color: #001f3f;
    }
  }
}

@media screen and (max-width: 600px) {
  .online-shop-checkOut {
    height: 20rem;

    .online-shop-checkOut-header-frame {
      height: 3rem;
      background-color: #001f3f;
    }

    .online-shop-checkOut-link-div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 10% 0 0 0;
      padding: 5% 0 1.5% 0;

      &__link-component-left--back-menu-button {
        font-size: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__link-component-right {
        &--shopping-cart-button {
          font-size: 1rem;
        }
      }
    }

    .link-component {
      text-decoration: none;
    }

    .button {
      cursor: pointer;
    }

    .button:hover {
      text-decoration: underline;
    }

    .online-shop-checkOut-headline {
      margin: 20% 0 0 0;
      padding: 0 5%;
      font-size: 1.5rem;
      line-height: 2rem;

      &__focus-word {
        background-color: #001f3f;
        color: #ffff00;
        border-radius: 0.2rem;
        padding: 0.1% 0.5%;
        margin: 0 0.5%;
      }
    }

    .online-shop-checkOut-rooter-frame {
      height: 3rem;
      width: 100%;
      background-color: #001f3f;
    }
  }
}

@media screen and (max-width: 300px) {
  .online-shop-checkOut {
    height: 20rem;

    .online-shop-checkOut-header-frame {
      height: 2rem;
      background-color: #001f3f;
    }

    .online-shop-checkOut-link-div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 10% 0 0 0;
      padding: 5% 0 1.5% 0;

      &__link-component-left--back-menu-button {
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__link-component-right {
        &--shopping-cart-button {
          font-size: 0.7rem;
        }
      }
    }

    .link-component {
      text-decoration: none;
    }

    .button {
      cursor: pointer;
    }

    .button:hover {
      text-decoration: underline;
    }

    .online-shop-checkOut-headline {
      margin: 20% 0 0 0;
      font-size: 1rem;
      line-height: 2rem;

      &__focus-word {
        background-color: #001f3f;
        color: #ffff00;
        border-radius: 0.2rem;
        padding: 0.1% 0.5%;
        margin: 0 1%;
      }
    }

    .online-shop-checkOut-rooter-frame {
      margin: 0;
      height: 2rem;
      width: 100%;
      background-color: #001f3f;
    }
  }
}
