.online-shop-shopping-cart {
  $amagon-primary-color: #001f3f;
  $amagon-secondery-color: #ffff00;
  min-height: 100vh;
  max-width: 100%;

  .pop-up-window {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__message-div {
      width: 30rem;
      height: 30rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__headline {
    margin: 3rem auto 0 auto;
    font-size: 2.7rem;
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 45%;
    padding: 1rem 0;
    background-color: white;
    border: 1px solid gray;
    border-radius: 0.2rem;

    &--main-div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--left-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        padding: 1rem 0;

        &--name {
          font-size: 1.7rem;
        }

        &--img {
          width: 8rem;
          height: 8rem;
          object-fit: cover;
          border-radius: 0.2rem;
        }
      }

      &--right-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        padding: 1rem 0;

        &--price {
          font-size: 1.5rem;
        }

        &--article-total-sum {
          width: 40%;
          font-size: 1.7rem;
        }
      }

      &--button-div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem 0;
        width: 100%;

        &--link {
          text-decoration: none;

          &--more-infos-button {
            font-size: 1.3rem;
            padding: 0.1rem 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &--icon {
              margin-left: 0.5rem;
              color: #00559a;
              width: 1.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

        &--delete-button {
          border: 0.1rem solid silver;
          border-radius: 0.2rem;
          padding: 0.3rem 1rem;
          background-color: #bb0000;
          color: white;
          font-size: 1.2rem;
          display: flex;
          justify-content: center;
          align-items: center;

          &--icon {
            margin-left: 0.3rem;
            font-size: 1.4rem;
            color: white;
          }
        }
      }
    }
  }

  &__total-sum-div {
    display: flex;
    justify-content: center;
    margin: 5rem 0 2rem 9.7rem;
    column-gap: 1rem;

    &--text {
      font-size: 2rem;
    }

    &--total-sum {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .shopping-cart-message {
    margin-top: 5rem;
    font-size: 2rem;
  }

  .shopping-cart-status-true {
    display: block;
  }

  .shopping-cart-status-false {
    display: none;
  }

  /*   
  
  */

  &__link-component--check-out-button {
    margin: 4rem auto 5rem auto;
    font-size: 1.5rem;
    padding: 0.4% 3rem;
    background-color: #ffee00;
    border: 1px solid gray;
    border-radius: 0.2rem;
  }

  &__link-component--check-out-button:hover {
    background-color: #f4e400;
  }
}

.space-food {
  min-height: 34.2vh;
}

button:hover {
  cursor: pointer;
}
