.shopping-cart {
  $amagon-primary-color: #001f3f;
  $amagon-secondery-color: #ffff00;
  min-height: 100vh;
  max-width: 100%;
  background-color: white;

  .pop-up-window {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__message-div {
      width: 30rem;
      height: 30rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__headline {
    margin: 5rem 44%;
    font-size: 2.5rem;
    color: $amagon-primary-color;
    border-bottom: 1px solid $amagon-primary-color;
  }

  &__overview {
    display: flex;
    flex-direction: column;
  }

  &__article-card {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem 1rem 3rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #bdbdbd;
  }

  &__img {
    width: 10rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 0.2rem;
  }

  &__name,
  &__price,
  &__article-total-sum {
    display: flex;
  }

  &__name {
    font-size: 1.5rem;
    justify-content: left;
  }

  &__price,
  &__article-total-sum {
    font-size: 1.5rem;
    justify-content: right;
    padding-right: 15%;
  }

  &__total-sum-div {
  }

  &__count {
  }

  &__text {
    font-size: 1.3rem;
  }

  &__total-sum {
    font-size: 1.3rem;
    font-weight: bold;
  }

  &__link-button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
  }

  &__to-article-link {
    font-size: 1.3rem;
    color: black;
    column-gap: 0.3rem;
  }

  &__info-icon {
    width: 1.5rem;
  }

  &__delete-button {
    font-size: 1.3rem;
    background-color: white;
    color: #bb0000;
    column-gap: 0.3rem;
    border: none;
  }

  &__delete-icon {
    width: 1.5rem;
    color: #bb0000;
  }

  &__message-div {
    margin-top: 5rem;
    font-size: 1.7rem;
  }

  &__message-icon {
    width: 2rem;
  }

  /*   
  
  */

  &__total-sum-div {
    margin: 3rem 0;
    column-gap: 0.5rem;
  }

  &__text {
    margin-left: 35%;
  }

  &__text,
  &__total-sum {
    font-size: 1.7rem;
  }

  &__link-component:hover {
    text-decoration: none;
  }

  &__check-out-button {
    width: 10rem;
    margin: 3rem 0 3rem 70%;
    font-size: 1.3rem;
  }
}

.shopping-cart-space {
  min-height: 34.2vh;
}
