.online-shop-shopping-cart {
  $amagon-primary-color: #001f3f;
  $amagon-secondery-color: #ffff00;
  min-height: 100vh;
  max-width: 100%;

  &__header {
    background-color: $amagon-primary-color;
    height: 5rem;
  }

  &__head-div {
    display: flex;

    &--link-component {
      margin: 5% 0 0 10%;

      &--back-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        border: 1px solid black;
        background-color: $amagon-primary-color;
        color: $amagon-secondery-color;
        border-radius: 0.2rem;
        padding: 1% 3%;

        &--icon {
          width: 2rem;
          height: auto;
        }
      }
    }

    &--headline {
      margin: 5% 0 0 23%;
      font-size: 2.7rem;
    }
  }

  &__article {
    display: flex;
    justify-content: center;
    margin: 7rem 25% 0 25%;
    border: 1px solid grey;
    height: 23rem;
    border-radius: 0.2rem;
    background-color: white;

    &--img-section {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &--article-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.2rem;
      }
    }

    &--description-section {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10%;

      &--article-headline {
        font-size: 2rem;
        margin: 0;
        padding: 0;
      }

      &--article-price {
        font-size: 1.7rem;
        margin: 0;
        padding: 0;
      }

      &--article-quantity {
        font-size: 1.7rem;
        margin: 0;
        padding: 0;
      }

      &--article-delete-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        padding: 0 1rem;
        background-color: #c20000;
        border: 1px solid gray;
        border-radius: 0.2rem;
        color: white;

        &--delete-icon {
          font-size: 1.7rem;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  &__total-sum-div {
    margin: 5% 0 5% 0;
    height: 100%;

    &--headline {
      font-size: 2.3rem;

      &--total-sum {
        margin-left: 1%;
        text-decoration: underline;
        text-decoration-style: double;
        color: #008000;
        font-size: 2.3rem;
      }
    }

    &--link-component--check-out-button {
      margin-top: 1rem;
      font-size: 2rem;
      padding: 0.4% 3rem;
      background-color: #ffee00;
      border: 1px solid gray;
      border-radius: 0.2rem;
    }
  }

  &__rooter {
    background-color: $amagon-primary-color;
    height: 5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

button:hover {
  cursor: pointer;
}
