$frame-color: #001f3f;

/*@media screen and (min-width: 1600px) {
  .online-shop-shopping-cart {
    &__headline {
      margin: 5rem auto 0 auto;
      font-size: 2.5rem;
    }

    &__article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60rem;
      margin: 4rem auto 0 auto;

      &--main-div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--left-section {
          width: 40%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          padding: 1rem 0 1rem 5rem;
          column-gap: 3rem;

          &--name {
            font-size: 1.7rem;
            margin: 1rem 0;
          }

          &--img {
            width: 15rem;
            height: 15rem;
            object-fit: cover;
          }
        }

        &--right-section {
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 1rem;
          padding: 1.5rem 5rem 2rem 0;

          &--price {
            margin-top: 1rem;
            font-size: 1.5rem;
          }

          &--article-total-sum {
            font-size: 1.6rem;
            width: 100%;
          }
        }

        &--button-div {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin: 1rem 0;
          width: 100%;

          &--link {
            text-decoration: none;

            &--more-infos-button {
              font-size: 1.3rem;
              padding: 0.2rem 2.1rem;

              &--icon {
                margin-left: 0.5rem;
                width: 2rem;
              }
            }
          }

          &--delete-button {
            padding: 0.2rem 1.1rem;
            font-size: 1.2rem;

            &--icon {
              margin-left: 0.3rem;
              font-size: 1.7rem;
            }
          }
        }
      }
    }

    &__total-sum-div {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
      margin: 5rem 0 4rem 21rem;

      &--text {
        font-weight: bold;
        font-size: 2rem;
      }

      &--total-sum {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .shopping-cart-message {
      font-size: 1.8rem;
    }

    &__link-component--check-out-button {
      font-size: 1.6rem;
      padding: 0.4rem 1.5rem;
      margin-top: 3rem;
    }
  }
}

@media screen and (max-width: 1600px) {
  .online-shop-shopping-cart {
    &__headline {
      margin: 5rem auto 0 auto;
      font-size: 2.5rem;
    }

    &__article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;
      max-width: 60rem;
      margin: 4rem auto 0 auto;

      &--main-div {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;

        &--left-section {
          width: 40%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          column-gap: 3rem;
          padding: 1rem 0 1rem 5rem;

          &--name {
            font-size: 1.7rem;
            margin: 1rem 0;
          }

          &--img {
            width: 15rem;
            height: 15rem;
            object-fit: cover;
          }
        }

        &--right-section {
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 1rem;
          padding: 1.5rem 5rem 2rem 0;

          &--price {
            font-size: 1.5rem;
            margin-top: 1rem;
          }

          &--article-total-sum {
            width: 100%;
            font-size: 1.6rem;
            padding: 0;
          }
        }

        &--button-div {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin: 1rem 0;
          width: 100%;

          &--link {
            text-decoration: none;

            &--more-infos-button {
              font-size: 1.3rem;
              padding: 0.2rem 2.1rem;

              &--icon {
                margin-left: 0.5rem;
                width: 2rem;
              }
            }
          }

          &--delete-button {
            padding: 0.2rem 1.1rem;
            font-size: 1.2rem;

            &--icon {
              margin-left: 0.3rem;
              font-size: 1.7rem;
            }
          }
        }
      }
    }

    &__total-sum-div {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
      margin: 5rem 0 4rem 20rem;

      &--text {
        font-weight: bold;
        font-size: 2rem;
      }

      &--total-sum {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .shopping-cart-message {
      font-size: 1.8rem;
    }

    &__link-component--check-out-button {
      font-size: 1.4rem;
      padding: 0.5rem 1.5rem;
      margin: 6rem 0 7rem 0;
    }
  }
}

@media screen and (max-width: 1300px) {
  .online-shop-shopping-cart {
    &__headline {
      margin: 5rem auto 0 auto;
      font-size: 2.3rem;
    }

    &__article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      max-width: 55rem;
      margin: 4rem auto;

      &--main-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &--left-section {
          width: 40%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          column-gap: 3rem;
          padding: 1rem 0 1rem 3rem;

          &--name {
            font-size: 1.7rem;
            margin: 1rem 0;
          }

          &--img {
            width: 15rem;
            height: 15rem;
            object-fit: cover;
          }
        }

        &--right-section {
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 1rem;
          padding: 1.5rem 3rem 2rem 0;

          &--price {
            font-size: 1.5rem;
            margin-top: 1rem;
          }

          &--article-total-sum {
            font-size: 1.6rem;
            padding: 0;
            margin: 0;
          }
        }

        &--button-div {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;

          &--link {
            text-decoration: none;

            &--more-infos-button {
              font-size: 1.3rem;
              padding: 0.2rem 2.1rem;

              &--icon {
                margin-left: 0.5rem;
                width: 2rem;
              }
            }
          }

          &--delete-button {
            padding: 0.2rem 1.1rem;
            font-size: 1.2rem;

            &--icon {
              margin-left: 0.3rem;
              font-size: 1.7rem;
            }
          }
        }
      }
    }

    &__total-sum-div {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
      margin: 0 0 0 20rem;

      &--text {
        font-weight: bold;
        font-size: 2rem;
      }

      &--total-sum {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .shopping-cart-message {
      font-size: 1.7rem;
    }

    &__link-component--check-out-button {
      font-size: 1.4rem;
      padding: 0.5rem 1.5rem;
      margin: 6rem 0 7rem 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .online-shop-shopping-cart {
    &__headline {
      margin: 5rem auto 2rem auto;
      font-size: 2rem;
    }

    &__article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      max-width: 30rem;
      margin: 3rem auto;

      &--main-div {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;

        &--left-section {
          width: 100%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          column-gap: 3rem;
          padding: 1rem 0;

          &--name {
            font-size: 1.8rem;
            margin: 1rem 0;
          }

          &--img {
            width: 13rem;
            height: 13rem;
            object-fit: cover;
          }
        }

        &--right-section {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 1.5rem;
          padding: 1rem 0 0.5rem 0;

          &--price {
            font-size: 1.6rem;
          }

          &--article-total-sum {
            width: 100%;
            font-size: 1.8rem;
            padding: 0;
          }
        }

        &--button-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 1rem 0 3rem 0;
          width: 13rem;
          row-gap: 1rem;

          &--link {
            text-decoration: none;
            width: 100%;

            &--more-infos-button {
              width: 100%;
              font-size: 1.3rem;
              padding: 0.3rem 0;

              &--icon {
                margin-left: 0.6rem;
                width: 2rem;
              }
            }
          }

          &--delete-button {
            width: 100%;
            padding: 0.3rem 0;
            font-size: 1.2rem;

            &--icon {
              margin-left: 0.3rem;
              font-size: 1.7rem;
            }
          }
        }
      }
    }

    &__total-sum-div {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.5rem;
      margin: 0;

      &--text {
        font-weight: bold;
        font-size: 1.8rem;
      }

      &--total-sum {
        font-size: 1.8rem;
        font-weight: bold;
      }
    }

    .shopping-cart-message {
      font-size: 1.5rem;
    }

    &__link-component--check-out-button {
      font-size: 1.4rem;
      padding: 0.5rem 1.3rem;
      margin: 6rem 0 7rem 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .online-shop-shopping-cart {
    &__headline {
      margin: 3rem auto 2rem auto;
      font-size: 1.7rem;
    }

    &__article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      max-width: 20rem;
      margin: 2rem auto;

      &--main-div {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--left-section {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 1rem;
          padding: 0 0 0.5rem 0;

          &--name {
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }

          &--img {
            width: 13rem;
            height: 13rem;
            object-fit: cover;
          }
        }

        &--right-section {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 0.5rem;
          padding: 1rem 0 0.5rem 0;

          &--price {
            font-size: 1.5rem;
          }

          &--article-total-sum {
            font-size: 1.6rem;
            padding: 1rem 0;
            margin: 0;
          }
        }

        &--button-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 0 1rem 0;
          padding: 0;
          width: 12rem;
          row-gap: 1rem;

          &--link {
            text-decoration: none;
            width: 100%;

            &--more-infos-button {
              width: 100%;
              font-size: 1.2rem;
              padding: 0.2rem 0;

              &--icon {
                margin-left: 0.5rem;
                width: 1.9rem;
              }
            }
          }

          &--delete-button {
            width: 100%;
            padding: 0.3rem 0;
            font-size: 1.1rem;

            &--icon {
              margin-left: 0.3rem;
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    &__total-sum-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0 0.5rem 0;

      &--text {
        font-weight: bold;
        font-size: 1.7rem;
      }

      &--total-sum {
        font-size: 1.7rem;
        font-weight: bold;
      }
    }

    .shopping-cart-message {
      font-size: 1.3rem;
    }

    &__link-component--check-out-button {
      font-size: 1.2rem;
      padding: 0.3rem 1rem;
      margin: 3rem 0 4rem 0;
    }
  }
}

@media screen and (max-width: 300px) {
  .online-shop-shopping-cart {
    &__headline {
      margin: 2rem auto;
      font-size: 1.5rem;
    }

    &__article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: 1rem auto;

      &--main-div {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--left-section {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 1rem;
          padding: 0 0 1rem 0;

          &--name {
            font-size: 1.5rem;
            margin-bottom: 0.7rem;
          }

          &--img {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
          }
        }

        &--right-section {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 1rem;
          padding: 1rem 0;

          &--price {
            font-size: 1.3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          &--article-total-sum {
            font-size: 1.5rem;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }

        &--button-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0.5rem 0 1rem 0;
          width: 10rem;
          row-gap: 0.5rem;

          &--link {
            text-decoration: none;
            width: 100%;

            &--more-infos-button {
              font-size: 1rem;
              padding: 0.1rem 0;
              width: 100%;

              &--icon {
                margin-left: 0.5rem;
                width: 1.7rem;
              }
            }
          }

          &--delete-button {
            padding: 0.3rem 0;
            font-size: 0.9rem;
            width: 100%;

            &--icon {
              margin-left: 0.3rem;
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    &__total-sum-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem 0 1rem 0;

      &--text,
      &--total-sum {
        font-weight: bold;
        font-size: 1.3rem;
      }
    }

    .shopping-cart-message {
      font-size: 1rem;
    }

    &__link-component--check-out-button {
      font-size: 1rem;
      padding: 0.2rem 0.7rem;
      margin: 2rem 0 4rem 0;
      border: 1px solid black;
    }
  }
}*/
