.focus-article-section {
  &__headline {
    margin: 5rem 40.5%;
    font-size: 2rem;
    color: #001f3f;
    border-bottom: 1px solid #001f3f;
  }

  &__focus-article-preview {
    margin: 0 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
  }
}

/*@media screen and (min-width: 1650px) {
  .focus-article-section {
    padding: 5rem 0 3rem 0;

    &__headline {
      font-size: 2rem;
      margin: 0 41.7%;
      padding: 0.5rem 0 0 0;
    }

    &__focus-article-preview {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 4rem;
      padding: 0 10%;
      column-gap: 2.5rem;
    }
  }
}*/

@media screen and (max-width: 1650px) {
  .focus-article-section {
    &__headline {
      font-size: 2rem;
      margin: 3rem 33%;
    }

    &__focus-article-preview {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.3rem;
    }
  }
}

@media screen and (max-width: 1400px) {
  .focus-article-section {
    &__headline {
      font-size: 2rem;
      margin: 3rem 33%;
    }

    &__focus-article-preview {
      margin: 0 5%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.3rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .focus-article-section {
    &__headline {
      font-size: 1.7rem;
      margin: 3rem 27%;
    }

    &__focus-article-preview {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 600px) {
  .focus-article-section {
    padding: 0 0 0 0;

    &__headline {
      font-size: 1.4rem;
      margin: 2rem 13%;
      padding: 0;
    }

    &__focus-article-preview {
    }
  }
}

@media screen and (max-width: 300px) {
}
