$amagon-navy-color: #001f3f;

.article {
  /*height: 37rem;*/
  background-color: white;
  color: black;
  /*box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);*/
  transition: all 0.5s ease-in-out;
  border: 1px solid $amagon-navy-color;
  border-radius: 0.2rem;
  text-decoration: none;

  &__img-div {
    width: 100%;
    height: 20rem;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
  }

  &__description-div {
    display: flex;
    flex-direction: column;
    height: 13.7rem;
    padding: 1rem 0 2rem 0;
  }

  &__head-div {
    display: flex;
    justify-content: space-around;
  }

  &__headline {
    font-size: 1.6rem;
    color: $amagon-navy-color;
  }

  .black {
    color: black;
  }

  .gray {
    color: gray;
  }

  .red {
    /*color: #d6001c;*/
    color: #f80004;
  }

  .line-through {
    text-decoration: line-through;
  }

  &__price {
    font-size: 1.3rem;
  }

  &__focus-price {
    font-size: 1.5rem;
  }

  &__description {
    text-align: left;
    margin-top: 1.5rem;
    padding: 0 3%;
    font-size: 1.3rem;
  }

  &__button-div {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  /*.lines2 {
    margin-top: 3.2rem;
  }

  .lines1 {
    margin-top: 4.7rem;
  }*/

  &__add-shoppingcart-button {
    width: 15rem;
    font-size: 1.2rem;

    //background-image: linear-gradient(#ffff00, #ffa500);
    //#faed27
    //#ff8800
    column-gap: 0.5rem;
    //color: black;
  }

  &__shoppingcart-icon {
    width: 1.5rem;
  }

  &__link-component {
    width: 10rem;
    font-size: 1.1rem;
    color: black;
    column-gap: 0.5rem;
  }

  &__info-icon {
    width: 1.5rem;
  }
}

/*@media screen and (min-width: 1600px) {
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;

    &__img-section {
      width: 100%;
      height: 15rem;

      &--article-img {
        width: 100%;
        height: 100%;
      }
    }

    &__description-section {
      width: 100%;
      height: 50%;
      padding: 1.3rem 0;
      row-gap: 1.7rem;

      &--article-headline {
        font-size: 1.9rem;
      }

      &--article-description {
        font-size: 1.6rem;
        padding: 0 3rem;
      }

      &--price-and-sale-icon-div {
        &--article-price {
          font-size: 1.8rem;
          margin: 0;
        }

        &--sale-icon {
          width: 2.5rem;
          height: auto;
          margin: 0;
          object-fit: cover;
        }
      }

      &--button-div {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem;
        width: 14.3rem;

        &--add-shoppingcart-button {
          font-size: 1.5rem;
          padding: 0.5rem 0;
          width: 100%;

          &--icon {
            font-size: 1.3rem;
          }
        }
        &--link-component {
          width: 100%;

          &--more-info-button {
            font-size: 1.2rem;
            padding: 0.2rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            &--icon {
              margin-left: 1.1rem;
              width: 2.1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20rem;

    &__img-section {
      width: 50%;
      height: 100%;

      &--article-img {
        width: 100%;
        height: 100%;
      }
    }

    &__description-section {
      width: 50%;
      height: 100%;
      padding: 1.3rem 0;
      row-gap: 1rem;

      &--article-headline {
        font-size: 1.8rem;
      }

      &--article-description {
        font-size: 1.5rem;
        padding: 0 2rem;
      }

      &--price-and-sale-icon-div {
        &--article-price {
          font-size: 1.8rem;
          margin: 0;
        }

        &--sale-icon {
          width: 2.4rem;
          height: auto;
          margin: 0;
          object-fit: cover;
        }
      }

      &--button-div {
        margin: 0;
        width: 100%;
        row-gap: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 13.5rem;

        &--add-shoppingcart-button {
          font-size: 1.4rem;
          padding: 0.3rem 0;
          width: 100%;

          &--icon {
            font-size: 1.2rem;
          }
        }

        &--link-component {
          width: 100%;

          &--more-info-button {
            font-size: 1.2rem;
            padding: 0.2rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            &--icon {
              margin-left: 1.1rem;
              width: 1.9rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20rem;
    max-width: 57rem;

    &__img-section {
      width: 50%;
      height: 100%;

      &--article-img {
        width: 100%;
        height: 100%;
      }
    }

    &__description-section {
      width: 50%;
      height: 100%;
      padding: 1.3rem 1%;
      row-gap: 1.5rem;

      &--article-headline {
        font-size: 1.7rem;
      }

      &--article-description {
        font-size: 1.5rem;
        padding: 0 3rem;
      }

      &--price-and-sale-icon-div {
        &--article-price {
          font-size: 1.6rem;
          margin: 0;
        }

        &--sale-icon {
          width: 2.3rem;
          height: auto;
          margin: 0;
          object-fit: cover;
        }
      }

      &--button-div {
        margin: 0 1%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
        row-gap: 0.7rem;
        width: 13rem;

        &--add-shoppingcart-button {
          font-size: 1.3rem;
          padding: 0.3rem 1rem;
          width: 100%;

          &--icon {
            font-size: 1.4rem;
          }
        }

        &--link-component {
          width: 100%;

          &--more-info-button {
            font-size: 1.2rem;
            padding: 0.2rem 0;
            width: 100%;

            &--icon {
              margin-left: 1.1rem;
              width: 2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 35rem;

    &__img-section {
      width: 100%;
      height: 23rem;

      &--article-img {
        width: 100%;
        height: 100%;
      }
    }

    &__description-section {
      width: 100%;
      height: 50%;
      padding: 3rem 0;
      row-gap: 3rem;

      &--article-headline {
        font-size: 1.7rem;
      }

      &--article-description {
        font-size: 1.5rem;
        padding: 0;
        width: 28rem;
      }

      &--price-and-sale-icon-div {
        &--article-price {
          font-size: 1.7rem;
          margin: 0;
        }

        &--sale-icon {
          width: 2.3rem;
          height: auto;
          object-fit: cover;
        }
      }

      &--button-div {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 2.5rem;
        display: flex;
        flex-direction: row;
        column-gap: 3rem;

        &--add-shoppingcart-button {
          width: 40%;
          font-size: 1.3rem;
          margin: 0 0 0 3rem;
          padding: 0.3rem 0;

          &--icon {
            font-size: 1.4rem;
          }
        }

        &--link-component {
          width: 40%;
          margin: 0 3rem 0 0;

          &--more-info-button {
            width: 100%;

            padding: 0.3rem 0;
            font-size: 1.3rem;

            &--icon {
              margin-left: 1rem;
              width: 1.7rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &__img-section {
      width: 100%;
      height: 20rem;

      &--article-img {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0;
      }
    }

    &__description-section {
      width: 100%;
      height: 100%;
      padding: 2rem 0;
      row-gap: 1.5rem;

      &--article-headline {
        font-size: 1.6rem;
      }

      &--article-description {
        font-size: 1.3rem;
        padding: 0;
        width: 85%;
      }

      &--price-and-sale-icon-div {
        &--article-price {
          font-size: 1.5rem;
          margin: 0;
        }

        &--sale-icon {
          width: 2rem;
          height: auto;
          margin: 0;
          object-fit: cover;
        }
      }

      &--button-div {
        margin: 1rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.7rem;
        padding: 0;
        width: 12rem;

        &--add-shoppingcart-button {
          font-size: 1.2rem;
          margin: 0;
          padding: 0.3rem 0;
          width: 100%;

          &--icon {
            font-size: 1.2rem;
          }
        }

        &--link-component {
          width: 100%;
          margin: 0;

          &--more-info-button {
            padding: 0.2rem 0;
            font-size: 1.2rem;
            width: 100%;

            &--icon {
              margin-left: 1rem;
              width: 1.7rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &__img-section {
      width: 100%;
      height: 10rem;

      &--article-img {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0;
      }
    }

    &__description-section {
      width: 100%;
      height: 50%;
      padding: 1.3rem 0;
      row-gap: 1.3rem;

      &--article-headline {
        font-size: 1.4rem;
      }

      &--article-description {
        font-size: 1.2rem;
        padding: 0;
        width: 11rem;
      }

      &--price-and-sale-icon-div {
        &--article-price {
          font-size: 1.4rem;
          margin: 0;
        }

        &--sale-icon {
          width: 1.7rem;
          height: auto;
          margin: 0;
          object-fit: cover;
        }
      }

      &--button-div {
        width: 11rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        padding: 0;
        row-gap: 0.5rem;

        &--add-shoppingcart-button {
          font-size: 1.1rem;
          margin: 0 auto;
          padding: 0.2rem 0;
          width: 100%;

          &--icon {
            font-size: 1.3rem;
          }
        }

        &--link-component {
          width: 100%;

          &--more-info-button {
            margin: 0 auto;
            padding: 0.2rem 0;
            font-size: 1.1rem;
            width: 100%;

            &--icon {
              margin-left: 0.5rem;
              width: 1.5rem;
              height: auto;
            }
          }
        }
      }
    }
  }
}*/
