@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
$font-art: "Comfortaa", sans-serif;
//$amagon-primary-color: #0b1f3a;
$amagon-primary-color: #18273a;
//hsl(52.45deg 74.65% 58.24%)
//$amagon-secondery-color: #ffff00;

.nav-div {
  background-color: $amagon-primary-color;

  &__nav-bar {
    padding: 1rem 6rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7rem;
    z-index: 0;
  }

  &__link {
    color: white;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease-in-out;
  }

  &__link:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &__hamburger-menu {
    position: absolute;
    width: 3rem;
    height: 3rem;
    row-gap: 0.5rem;
    z-index: 2;
    display: none;
  }

  &__hamburger-menu:hover {
    cursor: pointer;
  }
}

.animation-line-top {
  /*margin-bottom: -0.68rem;
  transform: rotate(-45deg);*/
  margin-bottom: -11px;
  transform: rotate(45deg);
}

.animation-line-middle {
  opacity: 0;
}

.animation-line-bottom {
  /*margin-top: -0.68rem;
  transform: rotate(45deg);*/
  transform: rotate(-45deg);
  margin-top: -11px;
}

/*   .bar1 {
    margin-bottom: -9px;
    transform: rotate(45deg);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    transform: rotate(-45deg);
    margin-top: -9px;
  }*/

@media screen and (max-width: 1650px) {
  .nav-div {
    &__link {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav-div {
    height: 3.5rem;
    background-color: $amagon-primary-color;

    &__nav-bar {
      position: absolute;
      top: -16.3rem;
      width: 100%;
      height: 16.1rem;
      background-color: $amagon-primary-color;
      flex-direction: column;
      align-items: center;
      padding: 0;
      z-index: 2;
      row-gap: 1.5rem;
      transition: all 0.5s ease-in-out;
    }

    &__link {
      width: 10rem;
      text-align: center;
      border-bottom: 1px solid #f3f5f6;
    }

    &__hamburger-menu {
      top: 0.3rem;
      right: 3%;
      display: flex;
    }

    &__line {
      background-color: #f3f5f6;
      width: 2rem;
      height: 3px;
      border-radius: 0.2rem;
      transition: all 0.5s ease-in-out;
    }
  }

  .nav-bar-down {
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .nav-div {
    height: 3rem;
    background-color: $amagon-primary-color;

    &__nav-bar {
      height: 11.4rem;
      position: absolute;
      top: -16.3rem;
      background-color: $amagon-primary-color;
      flex-direction: column;
      z-index: 2;
      row-gap: 1.5rem;
      transition: all 0.5s ease-in-out;
    }

    &__link {
      font-size: 15px;
      width: 8rem;
    }

    &__hamburger-menu {
      top: 0.6rem;
      right: 3%;
      width: 2rem;
      height: 1.7rem;
      display: flex;
      row-gap: 5px;
    }

    &__line {
      background-color: #f3f5f6;
      width: 1.5rem;
      height: 2px;
      border-radius: 0.2rem;
      transition: all 0.5s ease-in-out;
    }
  }

  .nav-bar-down {
    top: 0.1rem;
  }

  .animation-line-top {
    /*margin-bottom: -0.68rem;
  transform: rotate(-45deg);*/
    margin-bottom: -7px;
    transform: rotate(45deg);
  }

  .animation-line-bottom {
    /*margin-top: -0.68rem;
  transform: rotate(45deg);*/
    transform: rotate(-45deg);
    margin-top: -7px;
  }
}
